In [3]:
# pip install schedule

In [4]:
import pandas as pd
import numpy as np
import os
import json
import openai
from openai import RateLimitError, APIError
from datetime import datetime, timedelta, date
from google.auth.transport.requests import Request
import gspread
from google_auth_oauthlib.flow import InstalledAppFlow
from google.oauth2.service_account import Credentials
import re
import warnings
from dotenv import load_dotenv
import schedule
import time


warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',50)

# Set up Google sheet

In [6]:
# JSON KEY FILE
SERVICE_ACCOUNT_FILE = "streamlit-analytics-488117-db0b145f8c2a.JSON"

# THE SPREADSHEET ID FROM YOUR GOOGLE SHEETS URL
SPREADSHEET_ID = "1La0dpzzo2yZQTOe3DJk11uapbgF4kk2fqQ6fblck8TI"

# SCOPES FOR SHEETS AND DRIVE
SCOPES = ["https://www.googleapis.com/auth/spreadsheets", "https://www.googleapis.com/auth/drive"]

# AUTHENTICATE USING SERVICE ACCOUNT
creds = Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE, scopes=SCOPES)
gc = gspread.authorize(creds)

# OPEN THE WORKBOOK BY SPREADSHEET ID
workbook = gc.open_by_key(SPREADSHEET_ID)

# HELPER FUNCTION TO LOAD SHEET AS DATAFRAME
def load_sheet_as_df(workbook, sheet_name):
    worksheet = workbook.worksheet(sheet_name) # GET WORKSHEET BY NAME
    records = worksheet.get_all_records() # GET ALL ROWS AS DICTIONARIES
    return pd.DataFrame(records) # CONVERT TO PANDAS DATAFRAME

# LOAD DATAFRAMES FROM SHEETS
_card_df = load_sheet_as_df(workbook, "CardTransaction")
_nibss_unity_settlement_df = load_sheet_as_df(workbook, "NIBSS SETT FROM NIBSS")
_unity_settlement = load_sheet_as_df(workbook, "ISW SETT REPORT")
_parallex_nibss = load_sheet_as_df(workbook, "LIBERTYPAY_Pos_Acquired_Detail_")
_collection_account_unity = load_sheet_as_df(workbook, "BANK STMT UNITY")
_collection_account_parallex = load_sheet_as_df(workbook, "BANK STMT PARALLEX")

In [7]:
# copy datasets
card_df = _card_df.copy()
nibss_unity_settlement_df = _nibss_unity_settlement_df.copy()
unity_settlement = _unity_settlement.copy()
parallex_nibss = _parallex_nibss.copy()
collection_account_unity = _collection_account_unity.copy()
collection_account_parallex = _collection_account_parallex.copy()

In [8]:
# # get today's date
today = (datetime.today() - timedelta(days=18)).date()
today

datetime.date(2026, 2, 5)

In [9]:
# convert column to date only
card_df['date_created'] = pd.to_datetime(card_df['date_created'], errors='coerce').dt.date
nibss_unity_settlement_df['Local_Date_Time'] = pd.to_datetime(nibss_unity_settlement_df['Local_Date_Time'], errors='coerce').dt.date
unity_settlement['Local_Date_Time'] = pd.to_datetime(unity_settlement['Local_Date_Time'], errors='coerce').dt.date
parallex_nibss['Local_Date_Time'] = pd.to_datetime(parallex_nibss['Local_Date_Time'], errors='coerce').dt.date

# Cards Revenue Report

In [11]:
# filter rows where date_created equals today
card_df = card_df[card_df['date_created'] == today]

card_df

,id,date_created,TIME,AM,transaction,user_email,transaction_object_id,card_transaction_id,reference_number,resultCode,stan,amount,liberty_commission,sales_rep,final_liberty_rev,liberty_profit,ro_profit,agent_profit,merchant_id,terminal_id,type_of_user,host_resp_code,host_resp_msg,auth_code,merchant_name,merchant_address,acquirer_name,timestamp,app_label,pan_number,expire_date,holder_name,ptsp_name,ptsp_contact,device_serial_number,base_app_ver,trace_num,ip_addr,status,send_money_by_card_resp,last_updated,bank_performance_checked,payload
1831,1115613,2026-02-05,11:15:13,PM,11348372,vivianchinemerem188@gmail.com,8de86391-8595-4e2c-9210-d21d13a6e5d8,88adf037-a262-4b6b-9f22-568f39241924,271770329692,0.0,231508,600.0,3.48,0,1.94,1.94,0.22,0,2215LA525653900,2215WW27,MERCHANT,0,APPROVED,3398ac,LIBERTYPAY LIMITED 27 ALARA STRELANG,LIBERTYPAY LIMITED 27 ALARA STRELANG,N/A,2026-02-05T23:15:08.000Z,N/A,506107*********2167,N/A,N/A,N/A,N/A,N/A,N/A,N/A,105.115.6.160,SUCCESSFUL,,2/5/2026 23:15,1,"{'MTI': '0200', 'amount': '600', 'terminalId':..."
1832,1115612,2026-02-05,11:12:15,PM,11348357,horlayinkhahabeeb@gmail.com,b794e673-c681-4a42-a0ce-8b4dcbb2c7ee,25c6208f-fa8d-41d6-a3b8-2ba8f2a7aca8,641770329515,0.0,231210,500.0,2.90,0,1.62,1.62,0.18,0,2215LA525653900,2215WS64,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED 27 ALARA STRELANG,LIBERTYPAY LIMITED 27 ALARA STRELANG,N/A,2026-02-05T23:12:10.000Z,N/A,507872******1855,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.23.129,SUCCESSFUL,,2/5/2026 23:12,1,"{'MTI': '0200', 'amount': '500', 'terminalId':..."
1833,1115611,2026-02-05,11:10:54,PM,11348356,horlayinkhahabeeb@gmail.com,87d8b006-e482-4044-a0df-6497e3ed8cc1,ea518c8f-306a-423a-8261-39392cbd13ea,641770329435,55.0,231051,500.0,2.90,0,1.62,1.62,0.18,0,2215LA525653900,2215WS64,MERCHANT,55,INCORRECT PIN,,LIBERTYPAY LIMITED 27 ALARA STRELANG,LIBERTYPAY LIMITED 27 ALARA STRELANG,N/A,2026-02-05T23:10:51.000Z,N/A,507872******1855,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.23.129,FAILED,,2/5/2026 23:10,1,"{'MTI': '0200', 'amount': '500', 'terminalId':..."
1834,1115610,2026-02-05,11:07:48,PM,11348332,horlayinkhahabeeb@gmail.com,6b20eebc-eb36-4b9a-94d4-af53d3042977,5cd66703-fa5d-45e8-8e0f-e4721885baa0,641770328921,0.0,230211,22000.0,127.60,0,107.60,107.60,3.00,0,2LBP87654321988,2215WS64,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T23:02:11.000Z,N/A,507872******1855,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.32.17,SUCCESSFUL,,2/5/2026 23:08,1,"{'MTI': '0200', 'amount': '22000', 'terminalId..."
1835,1115609,2026-02-05,11:02:46,PM,11348319,omowunmir7660@gmail.com,585a1bd9-4b67-4627-a253-00d7498331bc,64acfde7-6732-4cd1-8dbb-fd58996e19ab,721770328623,0.0,225716,20000.0,116.00,0,96.00,96.00,3.00,0,2LBP87654321988,2215WY72,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T22:57:16.000Z,N/A,507872******3659,N/A,N/A,N/A,N/A,N/A,N/A,N/A,105.119.11.72,SUCCESSFUL,,2/5/2026 23:03,1,"{'MTI': '0200', 'amount': '20000', 'terminalId..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693,1114693,2026-02-05,6:00:40,AM,11336124,yettymama.ay@gmail.com,a340205a-d79c-4ef9-871f-cf8f6db69fe7,97cdae57-eb8e-415f-83d2-95f313a71e74,601770267579,91.0,55952,3600.0,20.88,0,11.66,11.66,1.30,0,210000000000000.0,21049460,MERCHANT,91,ISSUER OR SWITCH INOPERATIVE,,LIBERTYPAY LTD 27 ALARA STRELANG,LIBERTYPAY LTD 27 ALARA STRELANG,N/A,2026-02-05T05:59:52.000Z,N/A,506108*********3690,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.75.22,FAILED,,2/5/2026 6:00,1,"{'MTI': '0200', 'amount': '3600', 'terminalId'..."
2694,1114692,2026-02-05,5:58:57,AM,11336123,yettymama.ay@gmail.com,cf1cf08e-b656-42a3-96e5-9ff8ba8006df,50f4534a-6d9c-4d19-a598-6e5eb10a3dea,601770267479,91.0,55811,3600.0,20.88,0,11.66,11.66,1.30,0,210000000000000.0,21049460,MERCHANT,91,ISSUER OR SWITCH INOPERATIVE,,LIBERTYPAY LTD 27 ALARA STRELANG,LIBERTYPAY LTD 27 ALARA STRELANG,N/A,2026-02-05T05:58:11.000Z,N/A,506108*********3690,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.69.128,FAILED,,2/5/2026 5:58,1,"{'MTI': '0200', 'amount': '3600', 'terminalId'..."
2695,1114691,2026-02-05,5:57:57,AM,11336122,yettymama.ay@gmail.com,1a0b1366-abf8-4eb1-bc0f-cba25065a756,45d584f0-554e-4fb6-8c1b-89fde3ea45b9,601770267416,91.0,55711,3600.0,20.88,0,11.66,11.66,1.30,0,210000000000000.0,21049460,MERCHANT,91,ISSUER OR SWITCH INOPERATIVE,,LIBERTYPAY LTD 27 ALARA STRELANG,LIBERTYPAY LTD 27 ALARA STRELANG,N/A,2026-02-05T05:57:11.000Z,N/A,506108*********3690,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.69.128,FAILED,,2/5/2026 5:57,1,"{'MTI': '0200', 'amount': '3600', 'terminalId'..."
2696,1114690,2026-02-05,5:55:22,AM,11336115,ogunniyishukurat@gmail.com,56221a1f-9b7d-4e56-965a-5e0e3f83d9b8,2189aeca-cd85-4d22-aae5-c32c59467e0c,741770267306,0.0,55520,31500.0,182.70,1,165.70,162.70,3.00,0,2LBP87654321988,2215WY74,MERCHANT,0,APPROVED,620586,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T05:55:20.000Z,N/A,506118*********0759,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.83.149,SUCCESSFUL,,2/5/2026 5:55,1,"{'MTI': '0200', 'amount': '31500', 'terminalId..."
2697,1114689,2026-02-05,3:44:27,AM,11336075,alaoalimant@gmail.com,b2798020-5f98-4c6e-9b59-5ab6dd6a0f6f,40d037ae-c91a-440d-aa86-b2235dc910dc,791770259451,0.0,34426,192000.0,1000.00,0,980.00,980.00,3.00,0,2LBP87654321988,20LP1379,MERCHANT,0,APPROVED,34426,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T03:44:26.000Z,N/A,506120*********1452,N/A,N/A,N/A,N/A,N/A,N/A,N/A,105.113.62.136,SUCCESSFUL,,2/5/2026 3:44,1,"{'MTI': '0200', 'amount': '192000', 'terminalI..."

In [12]:
card_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 867 entries, 1831 to 2697
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        867 non-null    int64
 1   date_created              867 non-null    object
 2   TIME                      867 non-null    object
 3   AM                        867 non-null    object
 4   transaction               867 non-null    int64
 5   user_email                867 non-null    object
 6   transaction_object_id     867 non-null    object
 7   card_transaction_id       867 non-null    object
 8   reference_number          867 non-null    int64
 9   resultCode                867 non-null    float64
 10  stan                      867 non-null    int64
 11  amount                    867 non-null    float64
 12  liberty_commission        867 non-null    float64
 13  sales_rep                 867 non-null    int64
 14  final_liberty_rev         867 non-null    float64
 15  liberty_profit            867 non-null    float64
 16  ro_profit                 867 non-null    float64
 17  agent_profit              867 non-null    int64
 18  merchant_id               867 non-null    object
 19  terminal_id               867 non-null    object
 20  type_of_user              867 non-null    object
 21  host_resp_code            867 non-null    int64
 22  host_resp_msg             867 non-null    object
 23  auth_code                 867 non-null    object
 24  merchant_name             867 non-null    object
 25  merchant_address          867 non-null    object
 26  acquirer_name             867 non-null    object
 27  timestamp                 867 non-null    object
 28  app_label                 867 non-null    object
 29  pan_number                867 non-null    object
 30  expire_date               867 non-null    object
 31  holder_name               867 non-null    object
 32  ptsp_name                 867 non-null    object
 33  ptsp_contact              867 non-null    object
 34  device_serial_number      867 non-null    object
 35  base_app_ver              867 non-null    object
 36  trace_num                 867 non-null    object
 37  ip_addr                   867 non-null    object
 38  status                    867 non-null    object
 39  send_money_by_card_resp   867 non-null    object
 40  last_updated              867 non-null    object
 41  bank_performance_checked  867 non-null    int64
 42  payload                   867 non-null    object
dtypes: float64(6), int64(8), object(29)
memory usage: 298.0+ KB

In [13]:
# Locate the â€˜host responseâ€™ column and filter for successful transactions (value 0 indicates success).
cashout_trans = card_df[card_df['host_resp_code']==0]
cashout_trans

,id,date_created,TIME,AM,transaction,user_email,transaction_object_id,card_transaction_id,reference_number,resultCode,stan,amount,liberty_commission,sales_rep,final_liberty_rev,liberty_profit,ro_profit,agent_profit,merchant_id,terminal_id,type_of_user,host_resp_code,host_resp_msg,auth_code,merchant_name,merchant_address,acquirer_name,timestamp,app_label,pan_number,expire_date,holder_name,ptsp_name,ptsp_contact,device_serial_number,base_app_ver,trace_num,ip_addr,status,send_money_by_card_resp,last_updated,bank_performance_checked,payload
1831,1115613,2026-02-05,11:15:13,PM,11348372,vivianchinemerem188@gmail.com,8de86391-8595-4e2c-9210-d21d13a6e5d8,88adf037-a262-4b6b-9f22-568f39241924,271770329692,0.0,231508,600.0,3.48,0,1.94,1.94,0.22,0,2215LA525653900,2215WW27,MERCHANT,0,APPROVED,3398ac,LIBERTYPAY LIMITED 27 ALARA STRELANG,LIBERTYPAY LIMITED 27 ALARA STRELANG,N/A,2026-02-05T23:15:08.000Z,N/A,506107*********2167,N/A,N/A,N/A,N/A,N/A,N/A,N/A,105.115.6.160,SUCCESSFUL,,2/5/2026 23:15,1,"{'MTI': '0200', 'amount': '600', 'terminalId':..."
1832,1115612,2026-02-05,11:12:15,PM,11348357,horlayinkhahabeeb@gmail.com,b794e673-c681-4a42-a0ce-8b4dcbb2c7ee,25c6208f-fa8d-41d6-a3b8-2ba8f2a7aca8,641770329515,0.0,231210,500.0,2.90,0,1.62,1.62,0.18,0,2215LA525653900,2215WS64,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED 27 ALARA STRELANG,LIBERTYPAY LIMITED 27 ALARA STRELANG,N/A,2026-02-05T23:12:10.000Z,N/A,507872******1855,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.23.129,SUCCESSFUL,,2/5/2026 23:12,1,"{'MTI': '0200', 'amount': '500', 'terminalId':..."
1834,1115610,2026-02-05,11:07:48,PM,11348332,horlayinkhahabeeb@gmail.com,6b20eebc-eb36-4b9a-94d4-af53d3042977,5cd66703-fa5d-45e8-8e0f-e4721885baa0,641770328921,0.0,230211,22000.0,127.60,0,107.60,107.60,3.00,0,2LBP87654321988,2215WS64,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T23:02:11.000Z,N/A,507872******1855,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.32.17,SUCCESSFUL,,2/5/2026 23:08,1,"{'MTI': '0200', 'amount': '22000', 'terminalId..."
1835,1115609,2026-02-05,11:02:46,PM,11348319,omowunmir7660@gmail.com,585a1bd9-4b67-4627-a253-00d7498331bc,64acfde7-6732-4cd1-8dbb-fd58996e19ab,721770328623,0.0,225716,20000.0,116.00,0,96.00,96.00,3.00,0,2LBP87654321988,2215WY72,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T22:57:16.000Z,N/A,507872******3659,N/A,N/A,N/A,N/A,N/A,N/A,N/A,105.119.11.72,SUCCESSFUL,,2/5/2026 23:03,1,"{'MTI': '0200', 'amount': '20000', 'terminalId..."
1836,1115608,2026-02-05,11:00:31,PM,11348307,adenikeakinwande40@gmail.com,c61a7fe8-7a00-4ffd-a15b-64f9beabf489,5a21de7c-1048-429d-89dd-7f675c6881d1,831770328810,0.0,230025,1000.0,5.80,0,3.24,3.24,0.36,0,210000000000000.0,21048783,MERCHANT,0,APPROVED,,LIBERTYPAY LTD 76 ALARA STRELANG,LIBERTYPAY LTD 76 ALARA STRELANG,N/A,2026-02-05T23:00:25.000Z,N/A,507872******8669,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.88.114.18,SUCCESSFUL,,2/5/2026 23:01,1,"{'MTI': '0200', 'amount': '1000', 'terminalId'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2686,1114700,2026-02-05,6:51:56,AM,11336369,shehudahiru127@gmail.com,2602c69f-f809-4aa3-8a4f-9333dc50eae6,2272bde6-82c5-49df-ac74-d6603061f9d6,481770270696,0.0,65154,2000.0,10.00,0,4.84,4.84,0.54,0,210000000000000.0,21049148,AGENT,0,APPROVED,65154,LIBERTYPAY LTD 27 ALARA STRTLANG,LIBERTYPAY LTD 27 ALARA STRTLANG,N/A,2026-02-05T06:51:54.000Z,N/A,539923******6902,N/A,N/A,N/A,N/A,N/A,N/A,N/A,197.211.57.14,SUCCESSFUL,,2/5/2026 6:52,1,"{'MTI': '0200', 'amount': '2000', 'terminalId'..."
2687,1114699,2026-02-05,6:47:55,AM,11336348,atinukeadesile77@gmail.com,f0c40294-45be-477c-a3c6-410f262e2a97,c7d63e26-ca58-484d-a72a-76f71c0c1c33,991770270456,0.0,64751,13300.0,77.14,0,57.14,57.14,3.00,0,2LBP87654321988,2215WY99,MERCHANT,0,APPROVED,UNI000,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T06:47:51.000Z,N/A,506119*********5680,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.88.113.131,SUCCESSFUL,,2/5/2026 6:48,1,"{'MTI': '0200', 'amount': '13300', 'terminalId..."
2688,1114698,2026-02-05,6:09:18,AM,11336137,elizabetholoyede934@gmail.com,f2e8a99a-0b21-4c95-bea1-b022d41afa5b,97a8a642-46be-4093-9244-7c50143498b5,341770268136,0.0,60914,5100.0,29.58,0,15.36,15.36,3.00,0,2215LA525653900,2215WW34,MERCHANT,0,APPROVED,UNI000,LIBERTYPAY LIMITED 27 ALARA STRELANG,LIBERTYPAY LIMITED 27 ALARA STRELANG,N/A,2026-02-05T06:09:14.000Z,N/A,506119*********8755,N/A,N/A,N/A,N/A,N/A,N/A,N/A,105.113.103.126,SUCCESSFUL,,2/5/2026 6:09,1,"{'MTI': '0200', 'amount': '5100', 'terminalId'..."
2696,1114690,2026-02-05,5:55:22,AM,11336115,ogunniyishukurat@gmail.com,56221a1f-9b7d-4e56-965a-5e0e3f83d9b8,2189aeca-cd85-4d22-aae5-c32c59467e0c,741770267306,0.0,55520,31500.0,182.70,1,165.70,162.70,3.00,0,2LBP87654321988,2215WY74,MERCHANT,0,APPROVED,620586,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T05:55:20.000Z,N/A,506118*********0759,N/A,N/A,N/A,N/A,N/A,N/A,N/A,102.89.83.149,SUCCESSFUL,,2/5/2026 5:55,1,"{'MTI': '0200', 'amount': '31500', 'terminalId..."
2697,1114689,2026-02-05,3:44:27,AM,11336075,alaoalimant@gmail.com,b2798020-5f98-4c6e-9b59-5ab6dd6a0f6f,40d037ae-c91a-440d-aa86-b2235dc910dc,791770259451,0.0,34426,192000.0,1000.00,0,980.00,980.00,3.00,0,2LBP87654321988,20LP1379,MERCHANT,0,APPROVED,34426,LIBERTYPAY LIMITED LA LANG,LIBERTYPAY LIMITED LA LANG,N/A,2026-02-05T03:44:26.000Z,N/A,506120*********1452,N/A,N/A,N/A,N/A,N/A,N/A,N/A,105.113.62.136,SUCCESSFUL,,2/5/2026 3:44,1,"{'MTI': '0200', 'amount': '192000', 'terminalI..."

In [14]:
# Filter by Transaction Type and extract PAYBOX transactions, separating them by the Transaction Type.
paybox_trans = cashout_trans[cashout_trans['type_of_user']=='MERCHANT']

# Aggregate the data for all PAYBOX card transactions
paybox_trans_df = paybox_trans.agg({
    'amount': 'sum',
    'id': 'count',
    'liberty_commission': 'sum',
    'final_liberty_rev': 'sum',
    'ro_profit': 'sum',
    'liberty_profit': 'sum'
}).to_frame().T.round(2)

paybox_trans_df

,amount,id,liberty_commission,final_liberty_rev,ro_profit,liberty_profit
0,12735190.77,760.0,55260.93,45887.35,1566.22,45790.6

In [15]:
cashout_trans['merchant_id'].unique()

array(['2215LA525653900', '2LBP87654321988', 210000000000000.0],
      dtype=object)

In [16]:
# Filter for Interswitch transactions and NIBSS transactions using the MID column as an identifier
interswitch_unity = cashout_trans[cashout_trans['merchant_id']=='2LBP87654321988'] # string
nibss_unity = cashout_trans[cashout_trans['merchant_id']=='2215LA525653900'] # string
nibss_parallex = cashout_trans[cashout_trans['merchant_id']==210000000000000.0] # int ** This is initially 210410017291001 but excel has truncated it

print(interswitch_unity.shape)
print(nibss_unity.shape)
print(nibss_parallex.shape)

(207, 43)
(462, 43)
(116, 43)

In [17]:
# Interswitch transactions
interswitch_unity['fee'] = interswitch_unity['liberty_commission']
interswitch_unity['cost_of_acquisition'] = 17
interswitch_unity['agent_commission'] = 3
interswitch_unity['Gross'] = (interswitch_unity['fee'] - interswitch_unity['cost_of_acquisition'] - interswitch_unity['agent_commission']).round(2)
interswitch_unity['is_accurate'] = (interswitch_unity['Gross']).round(2)==(interswitch_unity['liberty_profit']).round(2)

# NIBSS Unity transactions
nibss_unity['fee'] = nibss_unity['liberty_commission']
nibss_unity['cost_of_acquisition'] = nibss_unity['amount']*0.0022 # 0.22% of amount
nibss_unity['agent_commission'] = nibss_unity['ro_profit']
nibss_unity['Gross'] = (nibss_unity['fee'] - nibss_unity['cost_of_acquisition'] - nibss_unity['agent_commission']).round(2)
nibss_unity['is_accurate'] = (nibss_unity['Gross']).round(2)==(nibss_unity['liberty_profit']).round(2)

# NIBSS Parallex transactions
nibss_parallex['fee'] = nibss_parallex['liberty_commission']
nibss_parallex['cost_of_acquisition'] = nibss_parallex['amount']*0.0022 # 0.22% of amount
nibss_parallex['agent_commission'] = nibss_parallex['ro_profit']
nibss_parallex['Gross'] = (nibss_parallex['fee'] - nibss_parallex['cost_of_acquisition'] - nibss_parallex['agent_commission']).round(2)
nibss_parallex['is_accurate'] = (nibss_parallex['Gross']).round(2)==(nibss_parallex['liberty_profit']).round(2)

In [18]:
# Aggregate the data for all interswitch_unity card transactions
interswitch_unity_df = interswitch_unity.agg({
    'amount': 'sum',
    'id': 'count',
    'fee': 'sum',
    'cost_of_acquisition': 'sum',
    'agent_commission': 'sum',
    'Gross': 'sum'
}).to_frame().T.round(2)

# Aggregate the data for all nibss_unity card transactions
nibss_unity_df = nibss_unity.agg({
    'amount': 'sum',
    'id': 'count',
    'fee': 'sum',
    'cost_of_acquisition': 'sum',
    'agent_commission': 'sum',
    'Gross': 'sum'
}).to_frame().T.round(2)

# Aggregate the data for all nibss_parallex card transactions
nibss_parallex_df = nibss_parallex.agg({
    'amount': 'sum',
    'id': 'count',
    'fee': 'sum',
    'cost_of_acquisition': 'sum',
    'agent_commission': 'sum',
    'Gross': 'sum'
}).to_frame().T.round(2)

In [19]:
interswitch_unity_df

,amount,id,fee,cost_of_acquisition,agent_commission,Gross
0,10734300.8,207.0,43565.77,3519.0,621.0,39425.77

In [20]:
nibss_unity_df

       amount     id      fee  cost_of_acquisition  agent_commission    Gross
0  1704639.97  462.0  9879.27              3750.21            790.13  5338.93

In [21]:
nibss_parallex_df

     amount     id      fee  cost_of_acquisition  agent_commission   Gross
0  404300.0  116.0  2310.89               889.46            184.13  1237.3

# Settlement Report

## Unity NIBSS

In [24]:
# filter rows where Local_Date_Time equals today
nibss_unity_settlement_df = nibss_unity_settlement_df[nibss_unity_settlement_df['Local_Date_Time'] == today]

# Removes any MID not needed
nibss_unity_settlement_df = nibss_unity_settlement_df[nibss_unity_settlement_df['Merchant_ID']=='2215LA525653900']

# Drop duplicate values
nibss_unity_settlement_df = nibss_unity_settlement_df.drop_duplicates()

nibss_unity_settlement_df

,DateTime,Currency_Name,Local_Date_Time,TIME,AM,Terminal_ID,Merchant_Name_Location,STAN,PAN,Message_Type,From_Account_ID,Merchant_ID,Merchant_Account_Nr,Merchant_Account_Name,From_Account_Type,Tran_Type_Description,Response_Code_Description,Tran_Amount_Req,Tran_Amount_Rsp,Surcharge,Amount_Impact,Merch_Cat_Category_Name,Merch_Cat_Visa_Category_Name,Settlement_Impact,Settlement_Impact_Desc,Merchant_Discount,Merchant_Receivable,Auth_ID,Tran_ID,Retrieval_Reference_Nr,Totals_Group,Region,Transaction_Status,Card_Route,Transaction_Type_Impact,Reversal_Status,Message_Type_Desc,Trxn_Category
847,2/6/2026 0:00,Naira,2026-02-05,5:09:14,AM,2215WW34,LIBERTYPAY LIMITED 27 ALARA STRELANG,60914,506119*********8755,200,231000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5100.0,5100.0,0,-5100.0,Wholesale Clubs,5300,5100.0,Amount_receivable,10.96,5089.03,UNI000,7.240000e+09,341770268136,WEMGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
848,2/6/2026 0:00,Naira,2026-02-05,7:50:54,AM,2215WY46,LIBERTYPAY LIMITED 27 ALARA STRELANG,85054,418745******3210,200,1410000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Default,Goods and services,Approved,2000.0,2000.0,0,-2000.0,Wholesale Clubs,5300,2000.0,Amount_receivable,4.30,1995.70,403567,7.250000e+09,461770277830,ABPNGVisaGrp,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE CLUBS-VISA)PURCHASE
849,2/6/2026 0:00,Naira,2026-02-05,7:51:53,AM,2215WY46,LIBERTYPAY LIMITED 27 ALARA STRELANG,85153,506119*********8005,200,233000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,900.0,900.0,0,-900.0,Wholesale Clubs,5300,900.0,Amount_receivable,1.94,898.07,UNI000,7.250000e+09,461770277897,WEMGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
850,2/6/2026 0:00,Naira,2026-02-05,6:58:56,AM,2215WT04,LIBERTYPAY LIMITED 27 ALARA STRELANG,75856,506106*********2663,200,3010000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5000.0,5000.0,0,-5000.0,Wholesale Clubs,5300,5000.0,Amount_receivable,10.75,4989.25,,7.240000e+09,41770274719,PRUGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
851,2/6/2026 0:00,Naira,2026-02-05,5:58:48,PM,2215WW61,LIBERTYPAY LIMITED 27 ALARA STRELANG,185848,507880*********1499,200,2950000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,1000.0,1000.0,0,-1000.0,Wholesale Clubs,5300,1000.0,Amount_receivable,2.15,997.85,,7.280000e+09,611770314309,ROLEZGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,2/6/2026 0:00,Naira,2026-02-05,9:12:27,PM,2215WV51,LIBERTYPAY LIMITED 27 ALARA STRELANG,221227,506104*********3001,200,739000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Default,Goods and services,Approved,5000.0,5000.0,0,-5000.0,Wholesale Clubs,5300,5000.0,Amount_receivable,10.75,4989.25,265067,7.390000e+09,511770325930,ABPGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
1309,2/6/2026 0:00,Naira,2026-02-05,9:26:07,PM,2215WV34,LIBERTYPAY LIMITED 27 ALARA STRELANG,222607,507872******8419,200,8140000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,4100.0,4100.0,0,-4100.0,Wholesale Clubs,5300,4100.0,Amount_receivable,8.81,4091.18,,7.390000e+09,341770326749,OPAGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
1310,2/6/2026 0:00,Naira,2026-02-05,9:20:42,PM,2215WU45,LIBERTYPAY LIMITED 27 ALARA STRELANG,222042,519911******0684,200,1020000000.0,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000.0,2000.0,0,-2000.0,Wholesale Clubs,5300,2000.0,Amount_receivable,4.30,1995.70,222042,7.390000e+09,451770326413,UBAMCDebit,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
1311,2/6/2026 0:00,Naira,2026-02-05,10:15:08,PM,2215WW27,LIBERTYPAY LIMITED 27 ALARA STRELANG,231508,506107*********2167,200,71699571,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,600.0,600.0,0,-600.0,Wholesale Clubs,5300,600.0,Amount_receivable,1.29,598.71,3398ac,7.390000e+09,271770329692,SBPGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
1312,2/6/2026 0:00,Naira,2026-02-05,9:19:03,PM,2215WW27,LIBERTYPAY LIMITED 27 ALARA STRELANG,221903,506107*********2167,200,71699571,2215LA525653900,55387745,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,7000.0,7000.0,0,-7000.0,Wholesale Clubs,5300,7000.0,Amount_receivable,15.05,6984.95,625f81,7.390000e+09,271770326320,SBPGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE

In [25]:
# Aggregate the data for all settlementts transactions
nibss_unity_settlement = nibss_unity_settlement_df.agg({
    'Tran_Amount_Req': 'sum',
    'Merchant_ID': 'count',
    'Merchant_Receivable': 'sum',
    'Merchant_Discount': 'sum'
}).to_frame().T.round(2)

nibss_unity_settlement

   Tran_Amount_Req  Merchant_ID  Merchant_Receivable  Merchant_Discount
0       1721289.97        466.0           1717589.14            3700.57

In [26]:
nibss_unity_df

       amount     id      fee  cost_of_acquisition  agent_commission    Gross
0  1704639.97  462.0  9879.27              3750.21            790.13  5338.93

In [27]:
# Merge NIBSS_unity and Settlement for Unity NIBSS
nibss_recon = nibss_unity.merge(nibss_unity_settlement_df, how='inner', left_on='reference_number', right_on='Retrieval_Reference_Nr')

nibss_recon

,id,date_created,TIME_x,AM_x,transaction,user_email,transaction_object_id,card_transaction_id,reference_number,resultCode,stan,amount,liberty_commission,sales_rep,final_liberty_rev,liberty_profit,ro_profit,agent_profit,merchant_id,terminal_id,type_of_user,host_resp_code,host_resp_msg,auth_code,merchant_name,...,Merchant_Account_Name,From_Account_Type,Tran_Type_Description,Response_Code_Description,Tran_Amount_Req,Tran_Amount_Rsp,Surcharge,Amount_Impact,Merch_Cat_Category_Name,Merch_Cat_Visa_Category_Name,Settlement_Impact,Settlement_Impact_Desc,Merchant_Discount,Merchant_Receivable,Auth_ID,Tran_ID,Retrieval_Reference_Nr,Totals_Group,Region,Transaction_Status,Card_Route,Transaction_Type_Impact,Reversal_Status,Message_Type_Desc,Trxn_Category
0,1115613,2026-02-05,11:15:13,PM,11348372,vivianchinemerem188@gmail.com,8de86391-8595-4e2c-9210-d21d13a6e5d8,88adf037-a262-4b6b-9f22-568f39241924,271770329692,0.0,231508,600.0,3.48,0,1.94,1.94,0.22,0,2215LA525653900,2215WW27,MERCHANT,0,APPROVED,3398ac,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,600.0,600.0,0,-600.0,Wholesale Clubs,5300,600.0,Amount_receivable,1.29,598.71,3398ac,7.390000e+09,271770329692,SBPGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
1,1115612,2026-02-05,11:12:15,PM,11348357,horlayinkhahabeeb@gmail.com,b794e673-c681-4a42-a0ce-8b4dcbb2c7ee,25c6208f-fa8d-41d6-a3b8-2ba8f2a7aca8,641770329515,0.0,231210,500.0,2.90,0,1.62,1.62,0.18,0,2215LA525653900,2215WS64,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,500.0,500.0,0,-500.0,Wholesale Clubs,5300,500.0,Amount_receivable,1.07,498.93,,7.390000e+09,641770329515,OPAGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
2,1115607,2026-02-05,10:47:58,PM,11348270,omowunmir7660@gmail.com,fbddbce4-6b3b-46aa-b66b-2a2e52f7ad4c,726d21bc-debe-4205-a52e-a4a6d59f572f,721770328060,0.0,224751,2000.0,11.60,0,6.48,6.48,0.72,0,2215LA525653900,2215WY72,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000.0,2000.0,0,-2000.0,Wholesale Clubs,5300,2000.0,Amount_receivable,4.30,1995.70,,7.390000e+09,721770328060,OPAGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
3,1115606,2026-02-05,10:44:22,PM,11348242,piuspesther@gmail.com,005dc483-3bdf-4a91-a195-bc8d6ba42e37,16f38f37-3a26-45ec-819c-25de6b52ecd6,871770327835,0.0,224418,2000.0,11.60,0,6.48,6.48,0.72,0,2215LA525653900,2215WY87,MERCHANT,0,APPROVED,1E94B0,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Default,Goods and services,Approved,2000.0,2000.0,0,-2000.0,Wholesale Clubs,5300,2000.0,Amount_receivable,4.30,1995.70,1E94B0,7.390000e+09,871770327835,ZIBMCDebit,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
4,1115605,2026-02-05,10:27:46,PM,11348129,azeezworld88@gmail.com,04e9b042-011b-46af-9676-1e96a3a4beed,f2ea59df-b1c6-420a-bbf2-621866a505a0,451770326413,0.0,222042,2000.0,11.60,0,6.48,6.48,0.72,0,2215LA525653900,2215WU45,MERCHANT,0,APPROVED,222042,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000.0,2000.0,0,-2000.0,Wholesale Clubs,5300,2000.0,Amount_receivable,4.30,1995.70,222042,7.390000e+09,451770326413,UBAMCDebit,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,1114712,2026-02-05,7:22:15,AM,11336572,makindeoluwakemi188@gmail.com,fefe9078-993b-4d48-8bb8-a161e3b7294c,96e60eaa-61fa-4c77-baaa-b356db6d8d64,161770272512,0.0,72213,600.0,3.48,0,1.94,1.94,0.22,0,2215LA525653900,2215WV16,MERCHANT,0,APPROVED,72213,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Default,Goods and services,Approved,600.0,600.0,0,-600.0,Wholesale Clubs,5300,600.0,Amount_receivable,1.29,598.71,72213,7.240000e+09,161770272512,GTBMCDebit,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
458,1114711,2026-02-05,7:18:48,AM,11336545,afusataliu2@gmail.com,56f7f30e-c99b-4fd9-9b62-c6e81ee110fd,71afc2a9-f1b1-458f-b1a0-753087f11a23,141770272308,0.0,71845,2900.0,16.82,0,9.40,9.40,1.04,0,2215LA525653900,2215WW14,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2900.0,2900.0,0,-2900.0,Wholesale Clubs,5300,2900.0,Amount_receivable,6.24,2893.76,,7.240000e+09,141770272308,OPAGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
459,1114709,2026-02-05,7:16:24,AM,11336534,adeekofaith746@gmail.com,c4e22c2b-5fa9-468c-84a5-b9330305de76,2dce33a2-f25d-4f7c-8856-bab38dabcad4,721770272161,0.0,71621,4000.0,23.20,0,12.96,12.96,1.44,0,2215LA525653900,2215WX72,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,4000.0,4000.0,0,-4000.0,Wholesale Clubs,5300,4000.0,Amount_receivable,8.60,3991.40,,7.240000e+09,721770272161,OPAGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
460,1114707,2026-02-05,7:13:20,AM,11336513,oghuvwuhelen1@gmail.com,a8622fff-aabc-41a5-bc35-03de6b9bb0b2,1d0816d5-e786-495b-aeec-0c618719760f,371770271977,0.0,71317,1100.0,6.38,0,3.56,3.56,0.40,0,2215LA525653900,2215WW37,MERCHANT,0,APPROVED,71317,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,1100.0,1100.0,0,-1100.0,Wholesale Clubs,5300,1100.0,Amount_receivable,2.37,1097.63,71317,7.240000e+09,371770271977,UBAGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE
461,1114698,2026-02-05,6:09:18,AM,11336137,elizabetholoyede934@gmail.com,f2e8a99a-0b21-4c95-bea1-b022d41afa5b,97a8a642-46be-4093-9244-7c50143498b5,341770268136,0.0,60914,5100.0,29.58,0,15.36,15.36,3.00,0,2215LA525653900,2215WW34,MERCHANT,0,APPROVED,UNI000,LIBERTYPAY LIMITED 27 ALARA STRELANG,...,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5100.0,5100.0,0,-5100.0,Wholesale Clubs,5300,5100.0,Amount_receivable,10.96,5089.03,UNI000,7.240000e+09,341770268136,WEMGroup,Domestic,Successful,Generic Routes,Financial,Regular_Transactions,Request,POS(WHOLESALE)PURCHASE

In [28]:
# Perform an outer merge so all records from both tables are retained
recon_df = nibss_unity.merge(
    nibss_unity_settlement_df,
    how='outer',
    left_on='reference_number',
    right_on='Retrieval_Reference_Nr',
    indicator=True
)

# Records that exist ONLY in nibss_unity
unsettled_claim = recon_df[recon_df['_merge'] == 'left_only']
unsettled_claim = unsettled_claim[['date_created', 'reference_number', 'stan', 'amount', 'merchant_id', 'terminal_id', 'pan_number']]

# Records that exist ONLY in settlement_df
charge_back = recon_df[recon_df['_merge'] == 'right_only']
charge_back = charge_back[['Local_Date_Time', 'Terminal_ID', 'Merchant_ID', 'STAN', 'PAN', 'Tran_Amount_Req', 'Retrieval_Reference_Nr']]

In [29]:
unsettled_claim

Empty DataFrame
Columns: [date_created, reference_number, stan, amount, merchant_id, terminal_id, pan_number]
Index: []

In [30]:
charge_back

,Local_Date_Time,Terminal_ID,Merchant_ID,STAN,PAN,Tran_Amount_Req,Retrieval_Reference_Nr
58,2026-02-05,2215WX10,2215LA525653900,114842,506124*********3114,5100.0,101770288510
292,2026-02-05,2215WU61,2215LA525653900,111154,506105*********9189,7500.0,611770286302
392,2026-02-05,2215WY82,2215LA525653900,191458,507881*********0911,2750.0,821770315281
402,2026-02-05,2215WY82,2215LA525653900,213232,418745******3847,1300.0,821770323535

## Unity Interswitch

In [32]:
# # Import unity ISW record
# unity_settlement__ = pd.read_excel('unity_ISW.xlsx')

# unity_settlement__

In [33]:
# # Drop duplicate values
# unity_settlement__ = unity_settlement__.drop_duplicates()
# unity_settlement__

In [34]:
# filter rows where Local_Date_Time equals today
unity_settlement = unity_settlement[unity_settlement['Local_Date_Time'] == today]

# # Locate the â€˜host responseâ€™ column and filter for successful transactions (value 0 indicates success).
# unity_settlement = unity_settlement[unity_settlement['host_resp_code']==0]

# Drop duplicate values
unity_isw = unity_settlement.drop_duplicates()
unity_isw

,DateTime,Bank_Card_Brand,Currency_Name,Local_Date_Time,TIME,AM,Terminal_ID,Sink_Node_Name,Merchant_ID,Merchant_Name_Location,STAN,PAN,Message_Type,From_Account_ID,From_Account_Type,To_Account_ID,To_Account_Type,Card_Account_Nr,Tran_Type_Description,Tran_Type_Description1,Beneficiary_Account,Response_Code_Description,Tran_Amount_Req,Tran_Amount_Rsp,Surcharge,Amount_Impact,Merch_Cat_Category_Name,Settlement_Impact,Settlement_Impact_Desc,Auth_ID,Tran_ID,Retrieval_Reference_Nr,Totals_Group,Region,Transaction_Status,Transaction_Type_Impact,Message_Type_Desc,Trxn_Category
456,2/6/2026 0:00,Verve,Naira,2026-02-05,9:56:47,AM,2LBPC424,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,105647,506105*********9339,200,3220000000.0,Default,48900000000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,12800.0,12800.0,0,-12800,Miscellenous,-3.0,Acquirer_fee_payable,105647,7.250000e+09,1770285390,FBNGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
457,2/6/2026 0:00,MasterCard,Naira,2026-02-05,10:47:04,AM,2LBPB936,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,114704,536613******3663,200,1480000000.0,Default,1635733,Current,639609,Payment from account,Payment from account,100003796100,Approved,25100.0,25100.0,0,-25100,Miscellenous,-20.0,Acquirer_fee_payable,61197,7.260000e+09,1770288409,ABPMCDebit,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
458,2/6/2026 0:00,MasterCard,Naira,2026-02-05,12:16:26,PM,2LBPC424,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,131626,519899******5997,200,49458551,Default,9200000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,10200.0,10200.0,0,-10200,Miscellenous,-20.0,Acquirer_fee_payable,131626,7.260000e+09,1770293769,CHBMCDebit,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
459,2/6/2026 0:00,VISA,Naira,2026-02-05,3:02:30,PM,2LBPB936,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,160230,492069******4727,200,1010000000.0,Default,NGN09992528070,Current,639609,Payment from account,Payment from account,100003796100,Approved,10000.0,10000.0,0,-10000,Miscellenous,10000.0,Amount_receivable,583353,7.270000e+09,1770303728,UBAVisaGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
460,2/6/2026 0:00,Verve,Naira,2026-02-05,3:41:25,PM,2LBPC424,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,164125,506104*********0762,200,1940000000.0,Default,1880000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,20000.0,20000.0,0,-20000,Miscellenous,-2.0,Acquirer_fee_payable,404190,7.270000e+09,1770306074,ABPGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,2/6/2026 0:00,Verve,Naira,2026-02-05,6:09:11,AM,2LBPC282,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,70911,507880*********5115,200,819000000.0,Default,139005,Current,639609,Payment from account,Payment from account,100003796100,Approved,10200.0,10200.0,0,-10200,Miscellenous,-3.0,Acquirer_fee_payable,,7.240000e+09,981770271726,ROLEZGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
660,2/6/2026 0:00,Verve,Naira,2026-02-05,7:51:11,AM,2LBPC387,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,85111,507880*********2851,200,5480000000.0,Default,139005,Current,639609,Payment from account,Payment from account,100003796100,Approved,50000.0,50000.0,0,-50000,Miscellenous,50000.0,Amount_receivable,,7.250000e+09,981770277863,ROLEZGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
661,2/6/2026 0:00,Verve,Naira,2026-02-05,10:41:26,AM,2LBPC282,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,114126,507872******3001,200,9030000000.0,Default,1210000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,10200.0,10200.0,0,-10200,Miscellenous,-2.0,Acquirer_fee_payable,,7.260000e+09,981770288071,OPAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
662,2/6/2026 0:00,Verve,Naira,2026-02-05,11:11:34,AM,2LBPC387,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,121134,506102*********0111,200,2190000000.0,Default,NGN09992528070,Current,639609,Payment from account,Payment from account,100003796100,Approved,37000.0,37000.0,0,-37000,Miscellenous,-3.0,Acquirer_fee_payable,121134,7.260000e+09,981770289875,UBAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
663,2/6/2026 0:00,Verve,Naira,2026-02-05,5:47:51,AM,2LBPC219,SWTNCSAGYsnk,2LBP87654321988,LIBERTYPAY LIMITED LA LANG,64751,506119*********5680,200,279000000.0,Default,999NGN45200004,Current,639609,Payment from account,Payment from account,100003796100,Approved,13300.0,13300.0,0,-13300,Miscellenous,13300.0,Amount_receivable,UNI000,7.240000e+09,991770270456,WEMGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT

In [35]:
# Gets the agg of Tran_Amount_Req and the count as well
unity_isw_agg = unity_isw.agg({
    'Tran_Amount_Req':'sum',
    'Merchant_ID':'count'
}).to_frame().T

unity_isw_agg

   Tran_Amount_Req  Merchant_ID
0      10749300.83        208.0

In [36]:
# Merge interswitch_unity and Settlement for Unity ISW
isw_recon = interswitch_unity.merge(unity_isw, how='inner', left_on='reference_number', right_on='Retrieval_Reference_Nr')

isw_recon

,id,date_created,TIME_x,AM_x,transaction,user_email,transaction_object_id,card_transaction_id,reference_number,resultCode,stan,amount,liberty_commission,sales_rep,final_liberty_rev,liberty_profit,ro_profit,agent_profit,merchant_id,terminal_id,type_of_user,host_resp_code,host_resp_msg,auth_code,merchant_name,...,From_Account_ID,From_Account_Type,To_Account_ID,To_Account_Type,Card_Account_Nr,Tran_Type_Description,Tran_Type_Description1,Beneficiary_Account,Response_Code_Description,Tran_Amount_Req,Tran_Amount_Rsp,Surcharge,Amount_Impact,Merch_Cat_Category_Name,Settlement_Impact,Settlement_Impact_Desc,Auth_ID,Tran_ID,Retrieval_Reference_Nr,Totals_Group,Region,Transaction_Status,Transaction_Type_Impact,Message_Type_Desc,Trxn_Category
0,1115610,2026-02-05,11:07:48,PM,11348332,horlayinkhahabeeb@gmail.com,6b20eebc-eb36-4b9a-94d4-af53d3042977,5cd66703-fa5d-45e8-8e0f-e4721885baa0,641770328921,0.0,230211,22000.0,127.60,0,107.60,107.60,3.0,0,2LBP87654321988,2215WS64,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,9080000000.0,Default,1210000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,22000.0,22000.0,0,-22000,Miscellenous,-22.1364,Acquirer_fee_payable,,7.390000e+09,641770328921,OPAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
1,1115609,2026-02-05,11:02:46,PM,11348319,omowunmir7660@gmail.com,585a1bd9-4b67-4627-a253-00d7498331bc,64acfde7-6732-4cd1-8dbb-fd58996e19ab,721770328623,0.0,225716,20000.0,116.00,0,96.00,96.00,3.0,0,2LBP87654321988,2215WY72,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,7070000000.0,Default,1210000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,20000.0,20000.0,0,-20000,Miscellenous,-3.0000,Acquirer_fee_payable,,7.390000e+09,721770328623,OPAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
2,1115598,2026-02-05,10:02:38,PM,11347866,horlayinkhahabeeb@gmail.com,250a3a58-f085-435c-adf4-a71a3fe0ba9d,c822fe3c-99f9-491e-b0c4-19ef8ff32268,641770325344,0.0,220237,93600.0,542.88,0,522.88,522.88,3.0,0,2LBP87654321988,2215WS64,MERCHANT,0,APPROVED,220237,LIBERTYPAY LIMITED LA LANG,...,117000000.0,Default,2050000000000000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,93600.0,93600.0,0,-93600,Miscellenous,93600.0000,Amount_receivable,220237,7.390000e+09,641770325344,GTBMCDebit,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
3,1115592,2026-02-05,9:44:14,PM,11347633,oritokeibiwunmi@yahoo.com,c96cffa8-bb0e-4111-8dbe-3b02294e6aa9,65e2a248-e863-439c-9bec-60e465ecf152,21770324237,0.0,214412,13000.0,75.40,1,58.40,55.40,3.0,0,2LBP87654321988,20LP0202,MERCHANT,0,APPROVED,818085,LIBERTYPAY LIMITED LA LANG,...,2060000000.0,Default,NGN09992528070,Current,639609,Payment from account,Payment from account,100003796100,Approved,13000.0,13000.0,0,-13000,Miscellenous,-20.0000,Acquirer_fee_payable,818085,7.390000e+09,21770324237,UBAVisaGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
4,1115588,2026-02-05,9:35:44,PM,11347544,oluwafunkefasunwon@gmail.com,c36b7c2f-3dad-4dea-8bdb-ae163ba85d00,bc189086-e498-4936-96ab-d1322161586a,231770323401,0.0,213014,91700.0,531.86,0,511.86,511.86,3.0,0,2LBP87654321988,2215WW23,MERCHANT,0,APPROVED,213014,LIBERTYPAY LIMITED LA LANG,...,3060000000.0,Default,48900000000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,91700.0,91700.0,0,-91700,Miscellenous,-3.0000,Acquirer_fee_payable,213014,7.390000e+09,231770323401,FBNGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1114702,2026-02-05,6:54:07,AM,11336395,olaniyibisola854@gmail.com,4cb063b2-f28b-4744-af38-a8c06db8a0ee,cfc9d02e-4a4c-4509-9fa2-c584455ae342,821770270826,0.0,65403,11600.0,67.28,0,47.28,47.28,3.0,0,2LBP87654321988,2215WU82,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,9160000000.0,Default,1210000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,11600.0,11600.0,0,-11600,Miscellenous,-3.0000,Acquirer_fee_payable,,7.240000e+09,821770270826,OPAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
203,1114701,2026-02-05,6:52:08,AM,11336375,sikiruatanda30@gmail.com,dd0065f1-9ccf-4cbb-9e10-b3fa6367561d,53a5e7b1-d671-494f-b1b1-aeff5c4e2dd8,341770270713,0.0,65206,20400.0,118.32,0,98.32,98.32,3.0,0,2LBP87654321988,20LP2734,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,7300000000.0,Default,139005,Current,639609,Payment from account,Payment from account,100003796100,Approved,20400.0,20400.0,0,-20400,Miscellenous,20400.0000,Amount_receivable,,7.240000e+09,341770270713,ROLEZGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
204,1114699,2026-02-05,6:47:55,AM,11336348,atinukeadesile77@gmail.com,f0c40294-45be-477c-a3c6-410f262e2a97,c7d63e26-ca58-484d-a72a-76f71c0c1c33,991770270456,0.0,64751,13300.0,77.14,0,57.14,57.14,3.0,0,2LBP87654321988,2215WY99,MERCHANT,0,APPROVED,UNI000,LIBERTYPAY LIMITED LA LANG,...,279000000.0,Default,999NGN45200004,Current,639609,Payment from account,Payment from account,100003796100,Approved,13300.0,13300.0,0,-13300,Miscellenous,13300.0000,Amount_receivable,UNI000,7.240000e+09,991770270456,WEMGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT
205,1114690,2026-02-05,5:55:22,AM,11336115,ogunniyishukurat@gmail.com,56221a1f-9b7d-4e56-965a-5e0e3f83d9b8,2189aeca-cd85-4d22-aae5-c32c59467e0c,741770267306,0.0,55520,31500.0,182.70,1,165.70,162.70,3.0,0,2LBP87654321988,2215WY74,MERCHANT,0,APPROVED,620586,LIBERTYPAY LIMITED LA LANG,...,4130000000.0,Default,9980000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,31500.0,31500.0,0,-31500,Miscellenous,-2.0000,Acquirer_fee_payable,620586,7.240000e+09,741770267306,EBNGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING)
206,1114689,2026-02-05,3:44:27,AM,11336075,alaoalimant@gmail.com,b2798020-5f98-4c6e-9b59-5ab6dd6a0f6f,40d037ae-c91a-440d-aa86-b2235dc910dc,791770259451,0.0,34426,192000.0,1000.00,0,980.00,980.00,3.0,0,2LBP87654321988,20LP1379,MERCHANT,0,APPROVED,34426,LIBERTYPAY LIMITED LA LANG,...,32693671,Default,9200000000.0,Current,639609,Payment from account,Payment from account,100003796100,Approved,192000.0,192000.0,0,-192000,Miscellenous,-20.0000,Acquirer_fee_payable,34426,7.380000e+09,791770259451,CHBGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT

In [37]:
# Perform an outer merge so all records from both tables are retained
isw_recon_df = interswitch_unity.merge(
    unity_isw,
    how='outer',
    left_on='reference_number',
    right_on='Retrieval_Reference_Nr',
    indicator=True
)

# Records that exist ONLY in interswitch_unity_df
isw_unsettled_claim = isw_recon_df[isw_recon_df['_merge'] == 'left_only']
isw_unsettled_claim = isw_unsettled_claim[['date_created', 'reference_number', 'stan', 'amount', 'merchant_id', 'terminal_id', 'pan_number']]

# Records that exist ONLY in unity_isw
isw_charge_back = isw_recon_df[isw_recon_df['_merge'] == 'right_only']
isw_charge_back = isw_charge_back[['Local_Date_Time', 'Terminal_ID', 'Merchant_ID', 'STAN', 'PAN', 'Tran_Amount_Req', 'Retrieval_Reference_Nr']]

In [38]:
isw_charge_back

,Local_Date_Time,Terminal_ID,Merchant_ID,STAN,PAN,Tran_Amount_Req,Retrieval_Reference_Nr
41,2026-02-05,2LBPB675,2LBP87654321988,164937,519911******1823,15000.03,161770306559

In [39]:
isw_unsettled_claim

Empty DataFrame
Columns: [date_created, reference_number, stan, amount, merchant_id, terminal_id, pan_number]
Index: []

## NIBSS parallex

In [41]:
# filter rows where Local_Date_Time equals today
parallex_nibss = parallex_nibss[parallex_nibss['Local_Date_Time'] == today]

# Removes any MID not needed
parallex_df = parallex_nibss[parallex_nibss['Merchant_ID']==210000000000000.0] # int ** This is initially 210410017291001 but excel has truncated it

# Drop duplicate values
parallex_df = parallex_df.drop_duplicates()

parallex_df

,DateTime,Currency_Name,Local_Date_Time,TTIME,AM,Terminal_ID,Merchant_ID,Merchant_Name_Location,STAN,PAN,Message_Type,From_Account_ID,Merchant_Account_Nr,Merchant_Account_Name,From_Account_Type,tran_type_description,Response_Code_description,Tran_Amount_Req,Tran_Amount_Rsp,Surcharge,Amount_Impact,merch_cat_category_name,Settlement_Impact,Settlement_Impact_Desc,Merchant_Discount,Merchant_Receivable,Auth_ID,Tran_ID,Retrieval_Reference_Nr,Totals_Group,Transaction_Status,Region,Transaction_Type_Impact,Message_Type_Desc,trxn_category
314,2/6/2026 0:00,Naira,2026-02-05,6:33:43,PM,21049316,2.100000e+14,LIBERTYPAY LTD 27 ALARA STRTLANG,193343,507872******0589,200,8129881164,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5100,5100,0,-5100,FINANCIAL INST/MANUAL CASH,5100,Amount_receivable,27.4125,5072.5875,,7386592931,161770316409,OPAGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
315,2/6/2026 0:00,Naira,2026-02-05,5:17:52,PM,21049285,2.100000e+14,LIBERTYPAY LTD 27 ALARA STRTLANG,181752,506124*********8542,200,2328011578,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5100,5100,0,-5100,FINANCIAL INST/MANUAL CASH,5100,Amount_receivable,27.4125,5072.5875,,7384508568,851770311849,ROLEZGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
316,2/6/2026 0:00,Naira,2026-02-05,6:00:14,PM,21044828,2.100000e+14,"LIBERTYPAY LIMITED 27, ALARA STRLANG",190014,507880*********7522,200,8864161653,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000,2000,0,-2000,FINANCIAL INST/MANUAL CASH,2000,Amount_receivable,10.7500,1989.2500,,7385641653,281770314388,ROLEZGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
317,2/6/2026 0:00,Naira,2026-02-05,6:24:19,PM,21044831,2.100000e+14,"LIBERTYPAY LIMITED 27, ALARA STRLANG",192419,539983******6177,200,16849232,1000037291,LIBERTYPAY LIMITED,Default,Goods and services,Approved,2600,2600,0,-2600,FINANCIAL INST/MANUAL CASH,2600,Amount_receivable,13.9750,2586.0250,192419,7386322633,311770315844,GTBMCDebit,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
318,2/6/2026 0:00,Naira,2026-02-05,6:53:59,PM,21048979,2.100000e+14,"LIBERTYPAY LTD 27, ALARA STRLANG",195359,507872******2667,200,8100376700,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5100,5100,0,-5100,FINANCIAL INST/MANUAL CASH,5100,Amount_receivable,27.4125,5072.5875,,7387131714,791770317615,OPAGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,2/6/2026 0:00,Naira,2026-02-05,6:26:02,PM,21044831,2.100000e+14,"LIBERTYPAY LIMITED 27, ALARA STRLANG",192602,507880*********3426,200,9444222993,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,9000,9000,0,-9000,FINANCIAL INST/MANUAL CASH,9000,Amount_receivable,48.3750,8951.6250,,7279442214,311770315946,ROLEZGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
427,2/6/2026 0:00,Naira,2026-02-05,6:18:20,PM,21041831,2.100000e+14,"LIBERTYPAY LIMITED 27, ALARA STRLANG",191820,506118*********7371,200,3011120186,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,9400,9400,0,-9400,FINANCIAL INST/MANUAL CASH,9400,Amount_receivable,50.5250,9349.4750,656756,7279213654,31770315478,EBNGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
428,2/6/2026 0:00,Naira,2026-02-05,6:30:25,PM,21044508,2.100000e+14,"LIBERTYPAY LIMITED 27, ALARA STRLANG",193025,539923******8661,200,3090046602,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,1700,1700,0,-1700,FINANCIAL INST/MANUAL CASH,1700,Amount_receivable,9.1375,1690.8625,193025,7279571042,81770316208,FBNMCDebit,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
429,2/6/2026 0:00,Naira,2026-02-05,3:41:42,PM,21041833,2.100000e+14,"LIBERTYPAY LIMITED 27, ALARA STRLANG",164142,507880*********3842,200,9332949609,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,1000,1000,0,-1000,FINANCIAL INST/MANUAL CASH,1000,Amount_receivable,5.3750,994.6250,,7272754395,331770306086,ROLEZGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
430,2/6/2026 0:00,Naira,2026-02-05,10:23:51,AM,21044442,2.100000e+14,"LIBERTYPAY LIMITED 27, ALARA STRLANG",112351,506106*********6316,200,1012109753,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5000,5000,0,-5000,FINANCIAL INST/MANUAL CASH,5000,Amount_receivable,26.8750,4973.1250,,7254620706,421770287004,PRUGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE

In [42]:
# Aggregate the data for all settlementts transactions
parallex_nibss_df = parallex_df.agg({
    'Tran_Amount_Req': 'sum',
    'Merchant_ID': 'count',
    'Merchant_Receivable': 'sum',
    'Merchant_Discount': 'sum'
}).to_frame().T.round(2)

parallex_nibss_df

   Tran_Amount_Req  Merchant_ID  Merchant_Receivable  Merchant_Discount
0         404800.0        117.0             402624.2             2175.8

In [43]:
# Merge NIBSS_parallex and Settlement for Parallex NIBSS
nibss_parallex_recon = nibss_parallex.merge(parallex_df, how='inner', left_on='reference_number', right_on='Retrieval_Reference_Nr')

nibss_parallex_recon

,id,date_created,TIME,AM_x,transaction,user_email,transaction_object_id,card_transaction_id,reference_number,resultCode,stan,amount,liberty_commission,sales_rep,final_liberty_rev,liberty_profit,ro_profit,agent_profit,merchant_id,terminal_id,type_of_user,host_resp_code,host_resp_msg,auth_code,merchant_name,...,Message_Type,From_Account_ID,Merchant_Account_Nr,Merchant_Account_Name,From_Account_Type,tran_type_description,Response_Code_description,Tran_Amount_Req,Tran_Amount_Rsp,Surcharge,Amount_Impact,merch_cat_category_name,Settlement_Impact,Settlement_Impact_Desc,Merchant_Discount,Merchant_Receivable,Auth_ID,Tran_ID,Retrieval_Reference_Nr,Totals_Group,Transaction_Status,Region,Transaction_Type_Impact,Message_Type_Desc,trxn_category
0,1115608,2026-02-05,11:00:31,PM,11348307,adenikeakinwande40@gmail.com,c61a7fe8-7a00-4ffd-a15b-64f9beabf489,5a21de7c-1048-429d-89dd-7f675c6881d1,831770328810,0.0,230025,1000.0,5.80,0,3.24,3.24,0.36,0,210000000000000.0,21048783,MERCHANT,0,APPROVED,,LIBERTYPAY LTD 76 ALARA STRELANG,...,200,8168886161,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,1000,1000,0,-1000,FINANCIAL INST/MANUAL CASH,1000,Amount_receivable,5.3750,994.6250,,7392938574,831770328810,OPAGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
1,1115602,2026-02-05,10:19:28,PM,11348037,oadabalali@gmail.com,a08b6d46-e308-4267-b6eb-ddaab390c063,d31ca207-41ff-492d-a355-6e826b7a2e49,491770326343,0.0,221919,1100.0,5.00,0,2.32,2.32,0.26,0,210000000000000.0,21044849,AGENT,0,APPROVED,,"LIBERTYPAY LIMITED 27, ALARA STRLANG",...,200,8140732783,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,1100,1100,0,-1100,FINANCIAL INST/MANUAL CASH,1100,Amount_receivable,5.9125,1094.0875,,7392384369,491770326343,OPAGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
2,1115569,2026-02-05,9:14:45,PM,11347307,olatoyejoshua22@gmail.com,13dbb2d2-206d-424e-92af-e9e36b031b3d,9bf9fbd6-69ef-426f-8bbb-a98ada7f8390,231770322106,0.0,210848,4100.0,23.78,0,11.76,11.76,3.00,0,210000000000000.0,21048923,MERCHANT,0,APPROVED,210848,"LIBERTYPAY LTD 27, ALARA STRLANG",...,200,2058843778,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,4100,4100,0,-4100,FINANCIAL INST/MANUAL CASH,4100,Amount_receivable,22.0375,4077.9625,210848,7390461081,231770322106,UBAMCDebit,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
3,1115563,2026-02-05,9:01:44,PM,11347204,oadabalali@gmail.com,53aa43f9-bdae-4fe5-9708-f246191a504b,deebe083-e41b-4574-b29c-e66004924a53,491770321312,0.0,205540,2000.0,10.00,0,4.84,4.84,0.54,0,210000000000000.0,21044849,AGENT,0,APPROVED,205540,"LIBERTYPAY LIMITED 27, ALARA STRLANG",...,200,6323599015,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000,2000,0,-2000,FINANCIAL INST/MANUAL CASH,2000,Amount_receivable,10.7500,1989.2500,205540,7389927124,491770321312,FBPGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
4,1115555,2026-02-05,8:49:03,PM,11347010,shehudahiru127@gmail.com,00cd3525-5316-4dde-8632-484d2b3f1940,dfa2647e-1d14-45ef-80d8-59c1ee207172,481770320921,0.0,204901,1000.0,5.00,0,2.32,2.32,0.26,0,210000000000000.0,21049148,AGENT,0,APPROVED,204901,LIBERTYPAY LTD 27 ALARA STRTLANG,...,200,239182530,1000037291,LIBERTYPAY LIMITED,Default,Goods and services,Approved,1000,1000,0,-1000,FINANCIAL INST/MANUAL CASH,1000,Amount_receivable,5.3750,994.6250,204901,7389639712,481770320921,GTBMCDebit,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,1114737,2026-02-05,7:58:46,AM,11336824,phaysha17@gmail.com,f3db960f-ce86-4250-904f-cd157d3979bc,76b8f74d-f6f4-40bb-8055-6598274c8572,331770274697,0.0,75843,500.0,2.90,0,1.62,1.62,0.18,0,210000000000000.0,21048933,MERCHANT,0,APPROVED,4613,"LIBERTYPAY LTD 27, ALARA STRLANG",...,200,2177135668,1000037291,LIBERTYPAY LIMITED,Default,Goods and services,Approved,500,500,0,-500,FINANCIAL INST/MANUAL CASH,500,Amount_receivable,2.6875,497.3125,4613,7242761441,331770274697,ZIBMCDebit,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
112,1114708,2026-02-05,7:13:28,AM,11336514,shehudahiru127@gmail.com,3c9fb254-f98c-41b5-ac2f-4b70588d3fa8,9962a3bf-e56c-4878-843b-dc9fa64d943b,481770271992,0.0,71323,2000.0,10.00,0,4.84,4.84,0.54,0,210000000000000.0,21049148,AGENT,0,APPROVED,,LIBERTYPAY LTD 27 ALARA STRTLANG,...,200,8138822498,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000,2000,0,-2000,FINANCIAL INST/MANUAL CASH,2000,Amount_receivable,10.7500,1989.2500,,7240846939,481770271992,OPAGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
113,1114706,2026-02-05,7:12:21,AM,11336507,shehudahiru127@gmail.com,1f5b1054-d4f0-48a1-b10b-b5afb55260af,6cd6ab32-f76a-46ac-865e-4ed806c9bd05,481770271917,0.0,71218,5500.0,30.00,0,13.36,13.36,3.00,0,210000000000000.0,21049148,AGENT,0,APPROVED,,LIBERTYPAY LTD 27 ALARA STRTLANG,...,200,1748806083,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,5500,5500,0,-5500,FINANCIAL INST/MANUAL CASH,5500,Amount_receivable,29.5625,5470.4375,,7240813997,481770271917,ROLEZGroup,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
114,1114703,2026-02-05,6:56:19,AM,11336409,shehudahiru127@gmail.com,81530583-5087-4f52-bf06-03371c91add0,9511c607-53b9-49b2-a052-a3d049462266,481770270958,0.0,65616,2000.0,10.00,0,4.84,4.84,0.54,0,210000000000000.0,21049148,AGENT,0,APPROVED,65616,LIBERTYPAY LTD 27 ALARA STRTLANG,...,200,2369542146,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000,2000,0,-2000,FINANCIAL INST/MANUAL CASH,2000,Amount_receivable,10.7500,1989.2500,65616,7240418880,481770270958,UBAMCDebit,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE
115,1114700,2026-02-05,6:51:56,AM,11336369,shehudahiru127@gmail.com,2602c69f-f809-4aa3-8a4f-9333dc50eae6,2272bde6-82c5-49df-ac74-d6603061f9d6,481770270696,0.0,65154,2000.0,10.00,0,4.84,4.84,0.54,0,210000000000000.0,21049148,AGENT,0,APPROVED,65154,LIBERTYPAY LTD 27 ALARA STRTLANG,...,200,3078655217,1000037291,LIBERTYPAY LIMITED,Unknown Account Type,Goods and services,Approved,2000,2000,0,-2000,FINANCIAL INST/MANUAL CASH,2000,Amount_receivable,10.7500,1989.2500,65154,7240335820,481770270696,FBNMCDebit,Successful,Domestic,Financial,Request,POS(GENERAL MERCHANT)PURCHASE

In [44]:
# Perform an outer merge so all records from both tables are retained
nibss_parallex_recon_df = nibss_parallex.merge(
    parallex_df,
    how='outer',
    left_on='reference_number',
    right_on='Retrieval_Reference_Nr',
    indicator=True
)

# Records that exist ONLY in nibss_parallex
parallex_unsettled_claim = nibss_parallex_recon_df[nibss_parallex_recon_df['_merge'] == 'left_only']
parallex_unsettled_claim = parallex_unsettled_claim[['date_created', 'reference_number', 'stan', 'amount', 'merchant_id', 'terminal_id', 'pan_number']]

# Records that exist ONLY in settlement_df
parallex_charge_back = nibss_parallex_recon_df[nibss_parallex_recon_df['_merge'] == 'right_only']
parallex_charge_back = parallex_charge_back[['Local_Date_Time', 'Terminal_ID', 'Merchant_ID', 'STAN', 'PAN', 'Tran_Amount_Req', 'Retrieval_Reference_Nr']]

In [45]:
parallex_unsettled_claim

Empty DataFrame
Columns: [date_created, reference_number, stan, amount, merchant_id, terminal_id, pan_number]
Index: []

In [46]:
parallex_charge_back

,Local_Date_Time,Terminal_ID,Merchant_ID,STAN,PAN,Tran_Amount_Req,Retrieval_Reference_Nr
99,2026-02-05,21048783,2.100000e+14,230223,507872******8669,500,831770328931

# Bank Statement

## Collection Acc

In [49]:
# Get bank statement for unity
collection_account_unity

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance
0,2/2/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900PR...,6880055387745,2/2/2026,-,895471.42,895471.42
1,2/2/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900DR...,6880055387745,2/2/2026,-,810753.05,1706224.47
2,2/2/2026,RVSL NOU STAN 202419 PAN 507872******8994 TID ...,9180055387745,2/2/2026,6000.0,-,1700224.47
3,2/2/2026,RVSL NOU STAN 214617 PAN 418745******8436 TID ...,9180055387745,2/2/2026,5100.0,-,1695124.47
4,2/2/2026,RVSL NOU STAN 204709 PAN 536613******9050 TID ...,9180055387745,2/2/2026,3000.0,-,1692124.47
...,...,...,...,...,...,...,...
4346,2/20/2026,2LBPC424 -180101 - 506104*********0762 - 17710...,1080055387745,2/20/2026,-,20600.0,18319953.23
4347,2/20/2026,2LBPC511 -184950 - 507872******1492 - 25177100...,1080055387745,2/20/2026,-,10000.0,18329953.23
4348,2/20/2026,2LBPA764 -180051 - 506119*********0765 - 51177...,1080055387745,2/20/2026,-,20300.0,18350253.23
4349,2/20/2026,2LBPC460 -184729 - 519911******3616 - 82177100...,1080055387745,2/20/2026,-,30000.0,18380253.23
4350,2/20/2026,LIBERTYPAY 19 02 2026-ACCOUNT TRANSACTION,1260055387745,2/20/2026,-,2611.41,18382864.64

## Unity Interswitch Acc

In [51]:
# Masked for ISW alone
isw_collection_account_unity = collection_account_unity[
    collection_account_unity['Transaction Narration']
    .str.upper()
    .str.startswith('2LBP')
]
isw_collection_account_unity

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance
9,2/2/2026,2LBPC034 - 173146 - 506110*********4520 - 9617...,10820055387745,2/2/2026,-,20400.0,5192676.63
10,2/2/2026,2LBPC034 - 143958 - 507872******5412 - 9617699...,10820055387745,2/2/2026,-,14900.0,5207576.63
11,2/2/2026,2LBPB675 - 172244 - 507872******3138 - 1617699...,10820055387745,2/2/2026,-,20000.0,5227576.63
12,2/2/2026,2LBPC861 - 205943 - 507880*********2302 - 3217...,10820055387745,2/2/2026,-,10000.0,5237576.63
13,2/2/2026,2LBPC184 - 140656 - 539941******5014 - 4517699...,10820055387745,2/2/2026,-,50000.0,5287576.63
...,...,...,...,...,...,...,...
4345,2/20/2026,2LBPC034 -180413 - 506105*********8095 - 96177...,1080055387745,2/20/2026,-,10000.0,18299353.23
4346,2/20/2026,2LBPC424 -180101 - 506104*********0762 - 17710...,1080055387745,2/20/2026,-,20600.0,18319953.23
4347,2/20/2026,2LBPC511 -184950 - 507872******1492 - 25177100...,1080055387745,2/20/2026,-,10000.0,18329953.23
4348,2/20/2026,2LBPA764 -180051 - 506119*********0765 - 51177...,1080055387745,2/20/2026,-,20300.0,18350253.23
4349,2/20/2026,2LBPC460 -184729 - 519911******3616 - 82177100...,1080055387745,2/20/2026,-,30000.0,18380253.23

In [52]:
# Ensures that there is a '-' between values
fixed_narration = (
    isw_collection_account_unity['Transaction Narration']
    .str.replace(
        r'(\d{9,12})\s+(\d{2}\s+\d{2}\s+\d{4}-)',
        r'\1 - \2',
        regex=True
    )
)

# brokedown the transaction narration and spread it across with new names
isw_collection_account_unity[
    ['tid', 'stans', 'pan', 'rrn', 't_date', 'narration']
] = fixed_narration.str.split(r'\s*-\s*', expand=True)

# convert rrn to int
isw_collection_account_unity['rrn'] = isw_collection_account_unity['rrn'].astype('int')

isw_collection_account_unity

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,tid,stans,pan,rrn,t_date,narration
9,2/2/2026,2LBPC034 - 173146 - 506110*********4520 - 9617...,10820055387745,2/2/2026,-,20400.0,5192676.63,2LBPC034,173146,506110*********4520,961769963492,01 02 2026,ACCOUNT TRANSACTION
10,2/2/2026,2LBPC034 - 143958 - 507872******5412 - 9617699...,10820055387745,2/2/2026,-,14900.0,5207576.63,2LBPC034,143958,507872******5412,961769953187,01 02 2026,ACCOUNT TRANSACTION
11,2/2/2026,2LBPB675 - 172244 - 507872******3138 - 1617699...,10820055387745,2/2/2026,-,20000.0,5227576.63,2LBPB675,172244,507872******3138,161769962936,01 02 2026,ACCOUNT TRANSACTION
12,2/2/2026,2LBPC861 - 205943 - 507880*********2302 - 3217...,10820055387745,2/2/2026,-,10000.0,5237576.63,2LBPC861,205943,507880*********2302,321769975963,01 02 2026,ACCOUNT TRANSACTION
13,2/2/2026,2LBPC184 - 140656 - 539941******5014 - 4517699...,10820055387745,2/2/2026,-,50000.0,5287576.63,2LBPC184,140656,539941******5014,451769951196,01 02 2026,ACCOUNT TRANSACTION
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4345,2/20/2026,2LBPC034 -180413 - 506105*********8095 - 96177...,1080055387745,2/20/2026,-,10000.0,18299353.23,2LBPC034,180413,506105*********8095,961771002230,13 02 2026,ACCOUNT TRANSACTION
4346,2/20/2026,2LBPC424 -180101 - 506104*********0762 - 17710...,1080055387745,2/20/2026,-,20600.0,18319953.23,2LBPC424,180101,506104*********0762,1771002042,13 02 2026,ACCOUNT TRANSACTION
4347,2/20/2026,2LBPC511 -184950 - 507872******1492 - 25177100...,1080055387745,2/20/2026,-,10000.0,18329953.23,2LBPC511,184950,507872******1492,251771004949,13 02 2026,ACCOUNT TRANSACTION
4348,2/20/2026,2LBPA764 -180051 - 506119*********0765 - 51177...,1080055387745,2/20/2026,-,20300.0,18350253.23,2LBPA764,180051,506119*********0765,511771002031,13 02 2026,ACCOUNT TRANSACTION
4349,2/20/2026,2LBPC460 -184729 - 519911******3616 - 82177100...,1080055387745,2/20/2026,-,30000.0,18380253.23,2LBPC460,184729,519911******3616,821771004833,13 02 2026,ACCOUNT TRANSACTION

In [53]:
# Merge isw_recon and bank statement for Unity ISW
isw_b_recon = isw_recon.merge(isw_collection_account_unity, how='inner', left_on='reference_number', right_on='rrn')

isw_b_recon

,id,date_created,TIME_x,AM_x,transaction,user_email,transaction_object_id,card_transaction_id,reference_number,resultCode,stan,amount,liberty_commission,sales_rep,final_liberty_rev,liberty_profit,ro_profit,agent_profit,merchant_id,terminal_id,type_of_user,host_resp_code,host_resp_msg,auth_code,merchant_name,...,Merch_Cat_Category_Name,Settlement_Impact,Settlement_Impact_Desc,Auth_ID,Tran_ID,Retrieval_Reference_Nr,Totals_Group,Region,Transaction_Status,Transaction_Type_Impact,Message_Type_Desc,Trxn_Category,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,tid,stans,pan,rrn,t_date,narration
0,1115610,2026-02-05,11:07:48,PM,11348332,horlayinkhahabeeb@gmail.com,6b20eebc-eb36-4b9a-94d4-af53d3042977,5cd66703-fa5d-45e8-8e0f-e4721885baa0,641770328921,0.0,230211,22000.0,127.60,0,107.60,107.60,3.0,0,2LBP87654321988,2215WS64,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,-22.1364,Acquirer_fee_payable,,7.390000e+09,641770328921,OPAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING),2/6/2026,2LBPC172 - 230211 - 507872******1855 - 6417703...,2850055387745,2/6/2026,-,22000.0,2306792.27,2LBPC172,230211,507872******1855,641770328921,05 02 2026,ACCOUNT TRANSACTION
1,1115609,2026-02-05,11:02:46,PM,11348319,omowunmir7660@gmail.com,585a1bd9-4b67-4627-a253-00d7498331bc,64acfde7-6732-4cd1-8dbb-fd58996e19ab,721770328623,0.0,225716,20000.0,116.00,0,96.00,96.00,3.0,0,2LBP87654321988,2215WY72,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,-3.0000,Acquirer_fee_payable,,7.390000e+09,721770328623,OPAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING),2/6/2026,2LBPB081 - 225716 - 507872******3659 - 7217703...,2850055387745,2/6/2026,-,20000.0,2944593.07,2LBPB081,225716,507872******3659,721770328623,05 02 2026,ACCOUNT TRANSACTION
2,1115598,2026-02-05,10:02:38,PM,11347866,horlayinkhahabeeb@gmail.com,250a3a58-f085-435c-adf4-a71a3fe0ba9d,c822fe3c-99f9-491e-b0c4-19ef8ff32268,641770325344,0.0,220237,93600.0,542.88,0,522.88,522.88,3.0,0,2LBP87654321988,2215WS64,MERCHANT,0,APPROVED,220237,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,93600.0000,Amount_receivable,220237,7.390000e+09,641770325344,GTBMCDebit,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT,2/6/2026,2LBPC172 - 220237 - 539983******5341 - 6417703...,2850055387745,2/6/2026,-,93600.0,1820992.27,2LBPC172,220237,539983******5341,641770325344,05 02 2026,ACCOUNT TRANSACTION
3,1115592,2026-02-05,9:44:14,PM,11347633,oritokeibiwunmi@yahoo.com,c96cffa8-bb0e-4111-8dbe-3b02294e6aa9,65e2a248-e863-439c-9bec-60e465ecf152,21770324237,0.0,214412,13000.0,75.40,1,58.40,55.40,3.0,0,2LBP87654321988,20LP0202,MERCHANT,0,APPROVED,818085,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,-20.0000,Acquirer_fee_payable,818085,7.390000e+09,21770324237,UBAVisaGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT,2/6/2026,2LBPA071 - 214412 - 492069******0913 - 2177032...,2850055387745,2/6/2026,-,13000.0,2349992.27,2LBPA071,214412,492069******0913,21770324237,05 02 2026,ACCOUNT TRANSACTION
4,1115588,2026-02-05,9:35:44,PM,11347544,oluwafunkefasunwon@gmail.com,c36b7c2f-3dad-4dea-8bdb-ae163ba85d00,bc189086-e498-4936-96ab-d1322161586a,231770323401,0.0,213014,91700.0,531.86,0,511.86,511.86,3.0,0,2LBP87654321988,2215WW23,MERCHANT,0,APPROVED,213014,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,-3.0000,Acquirer_fee_payable,213014,7.390000e+09,231770323401,FBNGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING),2/6/2026,2LBPC393 - 213014 - 506105*********3392 - 2317...,2850055387745,2/6/2026,-,91700.0,2441692.27,2LBPC393,213014,506105*********3392,231770323401,05 02 2026,ACCOUNT TRANSACTION
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1114702,2026-02-05,6:54:07,AM,11336395,olaniyibisola854@gmail.com,4cb063b2-f28b-4744-af38-a8c06db8a0ee,cfc9d02e-4a4c-4509-9fa2-c584455ae342,821770270826,0.0,65403,11600.0,67.28,0,47.28,47.28,3.0,0,2LBP87654321988,2215WU82,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,-3.0000,Acquirer_fee_payable,,7.240000e+09,821770270826,OPAGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING),2/20/2026,2LBPC269 - 65403 - 507872******0799 - 82177027...,1080055387745,2/20/2026,-,11600.0,14201103.23,2LBPC269,65403,507872******0799,821770270826,05 02 2026,ACCOUNT TRANSACTION
203,1114701,2026-02-05,6:52:08,AM,11336375,sikiruatanda30@gmail.com,dd0065f1-9ccf-4cbb-9e10-b3fa6367561d,53a5e7b1-d671-494f-b1b1-aeff5c4e2dd8,341770270713,0.0,65206,20400.0,118.32,0,98.32,98.32,3.0,0,2LBP87654321988,20LP2734,MERCHANT,0,APPROVED,,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,20400.0000,Amount_receivable,,7.240000e+09,341770270713,ROLEZGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT,2/20/2026,2LBPB902 - 65206 - 507880*********3528 - 34177...,1080055387745,2/20/2026,-,20400.0,12447153.2,2LBPB902,65206,507880*********3528,341770270713,05 02 2026,ACCOUNT TRANSACTION
204,1114699,2026-02-05,6:47:55,AM,11336348,atinukeadesile77@gmail.com,f0c40294-45be-477c-a3c6-410f262e2a97,c7d63e26-ca58-484d-a72a-76f71c0c1c33,991770270456,0.0,64751,13300.0,77.14,0,57.14,57.14,3.0,0,2LBP87654321988,2215WY99,MERCHANT,0,APPROVED,UNI000,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,13300.0000,Amount_receivable,UNI000,7.240000e+09,991770270456,WEMGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT,2/20/2026,2LBPC219 - 64751 - 506119*********5680 - 99177...,1080055387745,2/20/2026,-,13300.0,10966853.2,2LBPC219,64751,506119*********5680,991770270456,05 02 2026,ACCOUNT TRANSACTION
205,1114690,2026-02-05,5:55:22,AM,11336115,ogunniyishukurat@gmail.com,56221a1f-9b7d-4e56-965a-5e0e3f83d9b8,2189aeca-cd85-4d22-aae5-c32c59467e0c,741770267306,0.0,55520,31500.0,182.70,1,165.70,162.70,3.0,0,2LBP87654321988,2215WY74,MERCHANT,0,APPROVED,620586,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,-2.0000,Acquirer_fee_payable,620586,7.240000e+09,741770267306,EBNGroup,Domestic,Successful,Financial,Request,POS OTHERS (VERVE BILLING),2/20/2026,2LBPB605 - 55520 - 506118*********0759 - 74177...,1080055387745,2/20/2026,-,31500.0,11628553.2,2LBPB605,55520,506118*********0759,741770267306,05 02 2026,ACCOUNT TRANSACTION
206,1114689,2026-02-05,3:44:27,AM,11336075,alaoalimant@gmail.com,b2798020-5f98-4c6e-9b59-5ab6dd6a0f6f,40d037ae-c91a-440d-aa86-b2235dc910dc,791770259451,0.0,34426,192000.0,1000.00,0,980.00,980.00,3.0,0,2LBP87654321988,20LP1379,MERCHANT,0,APPROVED,34426,LIBERTYPAY LIMITED LA LANG,...,Miscellenous,-20.0000,Acquirer_fee_payable,34426,7.380000e+09,791770259451,CHBGroup,Domestic,Successful,Financial,Request,AGENCY BANKING CASHOUT,2/6/2026,2LBPB379 - 34426 - 506120*********1452 - 79177...,2850055387745,2/6/2026,-,192000.0,2041792.27,2LBPB379,34426,506120*********1452,791770259451,05 02 2026,ACCOUNT TRANSACTION

In [54]:
# Perform an outer merge so all records from both tables are retained
not_isw_b_recon = isw_recon.merge(
    isw_collection_account_unity,
    how='outer',
    left_on='reference_number',
    right_on='rrn',
    indicator=True
)

# convert extracted date string (dd mm yyyy) to datetime
not_isw_b_recon['t_date'] = pd.to_datetime(
    not_isw_b_recon['t_date'],
    format='%d %m %Y',
    errors='coerce'
)

# ensure unity isw table date column is datetime
unity_isw['Local_Date_Time'] = pd.to_datetime(
    unity_isw['Local_Date_Time'],
    errors='coerce'
)

# Records that exist ONLY in isw_recon
isw_b_unsettled_claim = not_isw_b_recon[not_isw_b_recon['_merge'] == 'left_only']
isw_b_unsettled_claim = isw_b_unsettled_claim[['date_created', 'reference_number', 'stan', 'amount', 'merchant_id', 'terminal_id', 'pan_number']]

# Records that exist ONLY in banks statement
isw_b_charge_back = not_isw_b_recon[not_isw_b_recon['_merge'] == 'right_only']
isw_b_charge_back = isw_b_charge_back[['Date', 'Transaction Narration', 'Reference', 'Value Date', 'Debit', 'Credit', 'Balance', 'rrn', 't_date']]

In [55]:
isw_b_unsettled_claim

Empty DataFrame
Columns: [date_created, reference_number, stan, amount, merchant_id, terminal_id, pan_number]
Index: []

In [56]:
# get the single (unique) unity date
unique_date = unity_isw['Local_Date_Time'].dt.date.iloc[0]

# filter charge-back table using that date
isw_b_charge_back = isw_b_charge_back[
    isw_b_charge_back['t_date'].dt.date == unique_date
]

isw_b_charge_back

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,rrn,t_date
695,2/20/2026,2LBPB675 - 164937 - 519911******1823 - 1617703...,1080055387745,2/20/2026,-,15000.03,13263953.23,161770306559,2026-02-05

## NIBSS Unity Acc

In [58]:
# extract last 8 chars from the likely segment
collection_account_unity['raw_date'] = (
    collection_account_unity['Transaction Narration']
    .astype(str)
    .str.split('#')
    .str[-3]
    .str.strip() # remove leading/trailing spaces
    .str.replace(r"\s+", "", regex=True) # remove hidden spaces
    .str.replace(r"\D", "", regex=True) # keep digits only
    .str[-8:]
)

# convert string â†’ datetime
def parse_mixed_date(x):
    if pd.isna(x):
        return pd.NaT

    x = str(x).strip()

    if len(x) != 8 or not x.isdigit():
        return pd.NaT

    # YYYYMMDD
    if x.startswith(("19", "20")):
        return pd.to_datetime(x, format="%Y%m%d", errors="coerce")

    # Try DDMMYYYY
    dt = pd.to_datetime(x, format="%d%m%Y", errors="coerce")
    if not pd.isna(dt):
        return dt

    # Try MMDDYYYY
    return pd.to_datetime(x, format="%m%d%Y", errors="coerce")

# apply date convert function
collection_account_unity['new_date'] = (
    collection_account_unity['raw_date']
    .apply(parse_mixed_date)
)

collection_account_unity

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,raw_date,new_date
0,2/2/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900PR...,6880055387745,2/2/2026,-,895471.42,895471.42,31012026,2026-01-31
1,2/2/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900DR...,6880055387745,2/2/2026,-,810753.05,1706224.47,31012026,2026-01-31
2,2/2/2026,RVSL NOU STAN 202419 PAN 507872******8994 TID ...,9180055387745,2/2/2026,6000.0,-,1700224.47,NaN,NaT
3,2/2/2026,RVSL NOU STAN 214617 PAN 418745******8436 TID ...,9180055387745,2/2/2026,5100.0,-,1695124.47,NaN,NaT
4,2/2/2026,RVSL NOU STAN 204709 PAN 536613******9050 TID ...,9180055387745,2/2/2026,3000.0,-,1692124.47,NaN,NaT
...,...,...,...,...,...,...,...,...,...
4346,2/20/2026,2LBPC424 -180101 - 506104*********0762 - 17710...,1080055387745,2/20/2026,-,20600.0,18319953.23,NaN,NaT
4347,2/20/2026,2LBPC511 -184950 - 507872******1492 - 25177100...,1080055387745,2/20/2026,-,10000.0,18329953.23,NaN,NaT
4348,2/20/2026,2LBPA764 -180051 - 506119*********0765 - 51177...,1080055387745,2/20/2026,-,20300.0,18350253.23,NaN,NaT
4349,2/20/2026,2LBPC460 -184729 - 519911******3616 - 82177100...,1080055387745,2/20/2026,-,30000.0,18380253.23,NaN,NaT
4350,2/20/2026,LIBERTYPAY 19 02 2026-ACCOUNT TRANSACTION,1260055387745,2/20/2026,-,2611.41,18382864.64,NaN,NaT

In [59]:
# From collection_account_unity statement, filter for just NIBSS unity
# first filter for those ending with NERF
nerf_nibss_collection_account_unity = collection_account_unity[collection_account_unity['Transaction Narration'].str.strip().str.endswith('NEFT', na=False)].reset_index()
# second filter for those starting with BEING
being_nibss_collection_account_unity = collection_account_unity[collection_account_unity['Transaction Narration'].str.strip().str.startswith('BEING', na=False)].reset_index()

nerf_nibss_collection_account_unity

,index,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,raw_date,new_date
0,0,2/2/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900PR...,6880055387745,2/2/2026,-,895471.42,895471.42,31012026,2026-01-31
1,1,2/2/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900DR...,6880055387745,2/2/2026,-,810753.05,1706224.47,31012026,2026-01-31
2,5,2/2/2026,057 # LIBERTYPAY LIMITED # 2215LA525653900_PR_...,10770055387745,2/2/2026,-,927851.43,2619975.9,01022026,2026-02-01
3,6,2/2/2026,057 # LIBERTYPAY LIMITED # 2215LA525653900_DR_...,10770055387745,2/2/2026,-,927501.54,3547477.44,01022026,2026-02-01
4,7,2/2/2026,057 # LIBERTYPAY LIMITED # 2215LA525653900_DR_...,10770055387745,2/2/2026,-,851415.4,4398892.84,02022026,2026-02-02
5,8,2/2/2026,057 # LIBERTYPAY LIMITED # 2215LA525653900_PR_...,10770055387745,2/2/2026,-,773383.79,5172276.63,02022026,2026-02-02
6,657,2/3/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900PR...,3860055387745,2/3/2026,-,919388.61,931324.13,03022026,2026-02-03
7,658,2/3/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900DR...,3860055387745,2/3/2026,-,906946.09,1838270.22,03022026,2026-02-03
8,898,2/4/2026,057 # # LIBERTYPAY LIMITED 2215LA525653900PR04...,2480055387745,2/4/2026,-,722493.33,724938.24,04022026,2026-02-04
9,899,2/4/2026,057 # # LIBERTYPAY LIMITED 2215LA525653900DR04...,2480055387745,2/4/2026,-,714710.03,1439648.27,04022026,2026-02-04
10,1131,2/5/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900DR...,1370055387745,2/5/2026,-,813706.9,813706.9,05022026,2026-02-05
11,1132,2/5/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900PR...,1370055387745,2/5/2026,-,750353.39,1564060.29,05022026,2026-02-05
12,1295,2/5/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900SR...,3450055387745,2/5/2026,-,102678.78,6089525.89,20260205,2026-02-05
13,1297,2/6/2026,057 # LIBERTYPAY LIMITED # # 2215LA525653900PR...,1430055387745,2/6/2026,-,444492.27,444492.27,06022026,2026-02-06
14,1344,2/6/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,2920055387745,2/6/2026,-,1273096.87,4260489.94,06022026,2026-02-06
15,1346,2/9/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,940055387745,2/9/2026,-,814545.14,814545.14,07022026,2026-02-07
16,1347,2/9/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,940055387745,2/9/2026,-,928899.27,1743444.41,07022026,2026-02-07
17,1350,2/9/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,2130055387745,2/9/2026,-,821380.15,2567155.55,09022026,2026-02-09
18,1351,2/9/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,2130055387745,2/9/2026,-,1067749.4,3634904.95,08022026,2026-02-08
19,1352,2/9/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,2130055387745,2/9/2026,-,888404.7,4523309.65,08022026,2026-02-08
20,1353,2/9/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_S...,2130055387745,2/9/2026,-,1197.42,4524507.07,20260207,2026-02-07
21,1354,2/9/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,2130055387745,2/9/2026,-,718501.95,5243009.02,09022026,2026-02-09
22,2225,2/10/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,3490055387745,2/10/2026,-,982233.63,8086692.51,10022026,2026-02-10
23,2226,2/10/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,3490055387745,2/10/2026,-,932461.72,9019154.23,10022026,2026-02-10
24,2230,2/11/2026,057 # # LIBERTYPAY LIMITED 2215LA525653900_PR_...,6070055387745,2/11/2026,-,836647.33,836647.33,11022026,2026-02-11
25,2231,2/11/2026,057 # # LIBERTYPAY LIMITED 2215LA525653900_DR_...,6070055387745,2/11/2026,-,861364.04,1698011.37,11022026,2026-02-11
26,2429,2/12/2026,057 # # LIBERTYPAY LIMITED # # 2215LA525653900...,1090055387745,2/12/2026,-,900839.18,900839.18,,NaT
27,2430,2/12/2026,057 # # LIBERTYPAY LIMITED # # 2215LA525653900...,1090055387745,2/12/2026,-,930806.86,1831646.04,,NaT
28,2438,2/13/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,1420055387745,2/13/2026,-,908191.88,908191.88,13022026,2026-02-13
29,2439,2/13/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,1420055387745,2/13/2026,-,949575.68,1857767.56,13022026,2026-02-13
30,2870,2/16/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,2550055387745,2/16/2026,-,869277.06,884743.49,1,NaT
31,2871,2/16/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,2550055387745,2/16/2026,-,768758.65,1653502.14,1,NaT
32,2872,2/16/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,2550055387745,2/16/2026,-,739576.51,2393078.65,1,NaT
33,2873,2/16/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,2550055387745,2/16/2026,-,883894.77,3276973.42,1,NaT
34,2874,2/16/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_S...,2550055387745,2/16/2026,-,131242.21,3408215.63,1,NaT
35,2875,2/16/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,2550055387745,2/16/2026,-,757304.28,4165519.91,1,NaT
36,2876,2/16/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,2550055387745,2/16/2026,-,910812.36,5076332.27,1,NaT
37,2881,2/17/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,920055387745,2/17/2026,-,915806.79,922653.69,17022026,2026-02-17
38,2882,2/17/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,920055387745,2/17/2026,-,1046510.1,1969163.79,17022026,2026-02-17
39,3537,2/18/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,1560055387745,2/18/2026,-,951170.54,951170.54,18022026,2026-02-18
40,3538,2/18/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,1560055387745,2/18/2026,-,942569.14,1893739.68,18022026,2026-02-18
41,3962,2/19/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_D...,4940055387745,2/19/2026,-,896488.32,7695016.09,19022026,NaT
42,3963,2/19/2026,057 # # LIBERTYPAY LIMITED # 2215LA525653900_P...,4940055387745,2/19/2026,-,923846.51,8618862.6,19022026,NaT
43,3969,2/20/2026,057 # LIBERTYPAY LIMITED # # 2215LA525653900_P...,520055387745,2/20/2026,-,958925.96,958925.96,20022026,NaT
44,3970,2/20/2026,057 # LIBERTYPAY LIMITED # # 2215LA525653900_D...,520055387745,2/20/2026,-,980567.24,1939493.2,20022026,NaT

In [60]:
# group nerf transactions to see credits for each day
grouped_nerf_nibss_collection_account_unity = nerf_nibss_collection_account_unity.groupby(
    ['new_date'])['Credit'].sum().reset_index()

# get the credit for that particular day
nerf_nibss_b_credit = grouped_nerf_nibss_collection_account_unity[
    grouped_nerf_nibss_collection_account_unity['new_date'].dt.date == unique_date
]

nerf_nibss_b_credit

    new_date      Credit
5 2026-02-05  1666739.07

In [61]:
# drop unwanted columns
being_nibss_summary = being_nibss_collection_account_unity.drop(columns=['raw_date', 'new_date'])

# filter charge-back table using that date
being_nibss_summary['Value Date'] = pd.to_datetime(being_nibss_summary['Value Date'], errors='coerce')
being_nibss_summary = being_nibss_summary[being_nibss_summary['Value Date'].dt.date == unique_date]

being_nibss_summary

,index,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance
5,1287,2/5/2026,BEING AFRIGO POS TRANSACTION ACQUIRER RECEIVAB...,2700055387745,2026-02-05,-,994.63,6006088.52
6,1288,2/5/2026,BEING AFRIGO POS TRANSACTION ACQUIRER RECEIVAB...,2700055387745,2026-02-05,-,4973.13,6011061.65

## Charge Back

In [63]:
# Loads all cashbacks starting with RVSL
cb = collection_account_unity[collection_account_unity['Transaction Narration'].str.startswith('RVSL', na=False)]

# extract last 8 chars from the likely segment
cb['raw_date'] = (
    cb['Transaction Narration']
    .astype(str)
    .str.split('-')
    .str[-2]
    .str[-11:] # 11 so we can get all the whitespaces before striping
    .str.strip(" ") # replacing whitespaces with 0
    .str.replace(r"\s+", "", regex=True) # replace hidden spaces with 0
    .str.replace(r"\D", "", regex=True) # keep digits only
)

cb['raw_date'] = cb['raw_date'].astype(str).str.zfill(8)

# apply date convert function
cb['new_date'] = (cb['raw_date'].apply(parse_mixed_date))

# filter charge-back table using that date
cb['Value Date'] = pd.to_datetime(cb['Value Date'], errors='coerce')
cb = cb[cb['Value Date'].dt.date == unique_date]

cb

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,raw_date,new_date
1289,2/5/2026,RVSL NOU STAN 90556 PAN 507872******5566 TID 2...,3070055387745,2026-02-05,9999.99,-,6001061.66,02022026,2026-02-02
1290,2/5/2026,RVSL NOU STAN 131942 PAN 507880*********3650 T...,3070055387745,2026-02-05,5100.0,-,5995961.66,41312026,NaT
1291,2/5/2026,RVSL NOU STAN 222154 PAN 507872******1717 TID ...,3070055387745,2026-02-05,5000.0,-,5990961.66,01302026,2026-01-30
1292,2/5/2026,RVSL NOU STAN 191256 PAN 507872******6929 TID ...,3070055387745,2026-02-05,3500.0,-,5987461.66,31302026,NaT
1293,2/5/2026,RVSL NOU STAN 182349 PAN 507872******6841 TID ...,3070055387745,2026-02-05,750,-,5986711.66,02022026,2026-02-02

## Terminal Owner Fee

In [65]:
# Filter for all that eends with just 'TRANSACTIONS'
tof_df = collection_account_unity[collection_account_unity['Transaction Narration'].str.endswith('TRANSACTION', na=False)]

# remove rows that exist in isw, nibss, or cb
exclude_narrations = pd.concat([
    isw_collection_account_unity['Transaction Narration'],
    being_nibss_collection_account_unity['Transaction Narration'],
    cb['Transaction Narration']
]).drop_duplicates()

# Gets all not in either of those variables
tof_df = tof_df[~tof_df['Transaction Narration'].isin(exclude_narrations)]

# filter charge-back table using that date
tof_df['Value Date'] = pd.to_datetime(tof_df['Value Date'], errors='coerce')
tof_df = tof_df[tof_df['Value Date'].dt.date == unique_date]

tof_df

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,raw_date,new_date
1133,2/5/2026,LIBERTYPAY 04 02 2026-ACCOUNT TRANSACTION,2260055387745,2026-02-05,-,2116.31,1566176.6,NaN,NaT
1134,2/5/2026,LIBERTYPAY 04 02 2026-ACCOUNT TRANSACTION,2260055387745,2026-02-05,32.72,-,1566143.88,NaN,NaT
1294,2/5/2026,LIBERTYPAY 04 02 2026-ACCOUNT TRANSACTION,3230055387745,2026-02-05,-,135.45,5986847.11,NaN,NaT
1296,2/5/2026,DAILY SWEEP FROM COLLECTION ACCOUNT-STANDING I...,4730055387745,2026-02-05,6089525.89,-,-,NaN,NaT

In [66]:
# Gets all tof transactions
tof = tof_df[tof_df['Transaction Narration'].str.startswith('LIBERTYPAY', na=False)]

tof['raw_date'] = (
    tof['Transaction Narration']
    .astype(str)
    .str.findall(r"\d+")
    .apply(lambda x: "".join(x))
)

# apply date convert function
tof['new_date'] = (tof['raw_date'].apply(parse_mixed_date))

tof

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,raw_date,new_date
1133,2/5/2026,LIBERTYPAY 04 02 2026-ACCOUNT TRANSACTION,2260055387745,2026-02-05,-,2116.31,1566176.6,04022026,2026-02-04
1134,2/5/2026,LIBERTYPAY 04 02 2026-ACCOUNT TRANSACTION,2260055387745,2026-02-05,32.72,-,1566143.88,04022026,2026-02-04
1294,2/5/2026,LIBERTYPAY 04 02 2026-ACCOUNT TRANSACTION,3230055387745,2026-02-05,-,135.45,5986847.11,04022026,2026-02-04

## Daily Sweep

In [70]:
# Daily sweep transactions
ds = tof_df[tof_df['Transaction Narration'].str.startswith('DAILY', na=False)]

ds

,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,raw_date,new_date
1296,2/5/2026,DAILY SWEEP FROM COLLECTION ACCOUNT-STANDING I...,4730055387745,2026-02-05,6089525.89,-,-,NaN,NaT

# AI Prompt and metrics

In [128]:
# total gross revenue across NIBSS, Interswitch, and Parallex
total_revenue = (
    nibss_unity_df['Gross']
    + interswitch_unity_df['Gross']
    + nibss_parallex_df['Gross']
)

# total settlement amount requested across all channels
total_settlement = (
    nibss_unity_settlement['Tran_Amount_Req']
    + unity_isw_agg['Tran_Amount_Req']
    + parallex_nibss_df['Tran_Amount_Req']
)

# total bank credit derived from gross transaction amounts
total_bank_credit = (
    nibss_unity_df['Gross']
    + interswitch_unity_df['Gross']
    + nibss_parallex_df['Gross']
)

# total settlement chargebacks across all providers
total_settlement_charge_back = (
    charge_back['Tran_Amount_Req'].sum() if not charge_back.empty else 0
) + (
    isw_charge_back['Tran_Amount_Req'].sum() if not isw_charge_back.empty else 0
) + (
    parallex_charge_back['Tran_Amount_Req'].sum() if not parallex_charge_back.empty else 0
)

# total unsettled settlement claims across all sources
total_settlement_unsettled_claims = (
    unsettled_claim['amount'].sum() if not unsettled_claim.empty else 0
) + (
    isw_unsettled_claim['amount'].sum() if not isw_unsettled_claim.empty else 0
) + (
    parallex_unsettled_claim['amount'].sum() if not parallex_unsettled_claim.empty else 0
)

# total unsettled ISW bank claims
total_bank_isw_unsettled_claims = (
    isw_b_unsettled_claim['amount'].sum() if not isw_b_unsettled_claim.empty else 0
)

# total ISW bank chargeback credits
total_bank_isw_charge_back = (
    isw_b_charge_back['Credit'].sum() if not isw_b_charge_back.empty else 0
)

# metrics = numbers only, no text, no formatting
metrics = {
    "run_date": unique_date,
    "total_revenue": float(total_revenue),
    "total_settlement": float(total_settlement),
    "total_settlement_charge_back": float(total_settlement_charge_back),
    "total_settlement_unsettled_claims": float(total_settlement_unsettled_claims),
    "total_bank_isw_unsettled_claims": float(total_bank_isw_unsettled_claims),
    "total_bank_isw_charge_back": float(total_bank_isw_charge_back),
    "channels": {
        "NIBSS": {
            "revenue": float(nibss_unity_df['Gross']),
            "settlement": float(nibss_unity_settlement['Tran_Amount_Req']),
            "charge_back": float(charge_back['Tran_Amount_Req'].sum() if not charge_back.empty else 0),
            "unsettled_claim": float(unsettled_claim['amount'].sum() if not unsettled_claim.empty else 0)
        },
        "INTERSWITCH": {
            "revenue": float(interswitch_unity_df['Gross']),
            "settlement": float(unity_isw_agg['Tran_Amount_Req']),
            "charge_back": float(isw_charge_back['Tran_Amount_Req'].sum() if not isw_charge_back.empty else 0),
            "unsettled_claim": float(isw_unsettled_claim['amount'].sum() if not isw_unsettled_claim.empty else 0)
        },
        "PARALLEX": {
            "revenue": float(nibss_parallex_df['Gross']),
            "settlement": float(parallex_nibss_df['Tran_Amount_Req']),
            "charge_back": float(parallex_charge_back['Tran_Amount_Req'].sum() if not parallex_charge_back.empty else 0),
            "unsettled_claim": float(parallex_unsettled_claim['amount'].sum() if not parallex_unsettled_claim.empty else 0)
        },
        "ISW Bank": {
            "charge_back": float(isw_b_unsettled_claim['amount'].sum() if not isw_b_unsettled_claim.empty else 0),
            "unsettled_claim": float(isw_b_charge_back['Credit'].sum() if not isw_b_charge_back.empty else 0)
        }
    }
}

metrics

{'run_date': datetime.date(2026, 2, 5),
 'total_revenue': 46002.0,
 'total_settlement': 12875390.8,
 'total_settlement_charge_back': 32150.03,
 'total_settlement_unsettled_claims': 0.0,
 'total_bank_isw_unsettled_claims': 0.0,
 'total_bank_isw_charge_back': 15000.03,
 'channels': {'NIBSS': {'revenue': 5338.93,
   'settlement': 1721289.97,
   'charge_back': 16650.0,
   'unsettled_claim': 0.0},
  'INTERSWITCH': {'revenue': 39425.77,
   'settlement': 10749300.83,
   'charge_back': 15000.03,
   'unsettled_claim': 0.0},
  'PARALLEX': {'revenue': 1237.3,
   'settlement': 404800.0,
   'charge_back': 500.0,
   'unsettled_claim': 0.0},
  'ISW Bank': {'charge_back': 0.0, 'unsettled_claim': 15000.03}}}

In [130]:
# Create output directory if it does not exist
os.makedirs("outputs/metrics", exist_ok=True)

# Set run_date (make sure this is a date or string)
run_date = unique_date  # e.g., date.today()

# If run_date is a date object, convert to string for filename
if isinstance(run_date, (date, datetime)):
    run_date_str = run_date.isoformat()
else:
    run_date_str = str(run_date)

# Build filename using run date
metrics_path = f"outputs/metrics/metrics_{run_date_str}.json"

# Function to handle non-serializable objects
def default_serializer(obj):
    if isinstance(obj, (date, datetime)):
        return obj.isoformat()
    raise TypeError(f"Type {type(obj)} not serializable")

# Write metrics to disk for downstream consumers
with open(metrics_path, "w") as f:
    json.dump(metrics, f, indent=2, default=default_serializer)

print(f"Metrics saved to {metrics_path}")

Metrics saved to outputs/metrics/metrics_2026-02-05.json

In [132]:
# Load latest metrics file
with open(f"outputs/metrics/metrics_{run_date_str}.json") as f:
    metrics = json.load(f)

# Convert metrics to structured JSON string
metrics_json = json.dumps(metrics, indent=2)

# AI prompt uses persisted data only
prompt = f"""
You are a financial operations analyst.
Analyze the metrics below and summarize performance, risks, and concerns.
Compare previous record for the week if any

Metrics:
{metrics_json}
"""

# AI Settings

In [135]:
# # create a .env file
# env_content = """
# # openai api key
# OPENAI_API_KEY=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
# """

# with open(".env", "w") as f:
#     f.write(env_content.strip())

# print(".env file created successfully")

In [137]:
# load variables from .env
load_dotenv()

# get your OpenAI key
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

print("OpenAI key loaded:", OPENAI_API_KEY[:5] + "..." if OPENAI_API_KEY else "not found")

OpenAI key loaded: sk-sv...

In [139]:
# load environment variables
load_dotenv()
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
openai.api_key = OPENAI_API_KEY
AI_MODEL = "gpt-4"

# google sheets configuration
SERVICE_ACCOUNT_FILE = "streamlit-analytics-488117-db0b145f8c2a.json"
SPREADSHEET_ID = "1La0dpzzo2yZQTOe3DJk11uapbgF4kk2fqQ6fblck8TI"
GSHEET_TAB_NAME = "AI Summary"
SCOPES = [
    "https://www.googleapis.com/auth/spreadsheets",
    "https://www.googleapis.com/auth/drive"
]

# authenticate google sheets
def authenticate_gsheets():
    creds = Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE, scopes=SCOPES)  # create credentials
    client = gspread.authorize(creds)  # authorize gspread client
    workbook = client.open_by_key(SPREADSHEET_ID)  # open workbook by id
    return workbook

# load sheet as dataframe
def load_sheet_as_df(workbook, sheet_name):
    worksheet = workbook.worksheet(sheet_name)  # get worksheet by name
    records = worksheet.get_all_records()  # get all rows
    return pd.DataFrame(records)  # convert to dataframe

# save metrics to json
def save_metrics(metrics_dict, run_date):
    os.makedirs("outputs/metrics", exist_ok=True)  # create folder if not exists
    run_date_str = run_date.isoformat() if isinstance(run_date, (date, datetime)) else str(run_date)
    path = f"outputs/metrics/metrics_{run_date_str}.json"
    def default_serializer(obj):
        if isinstance(obj, (date, datetime)):
            return obj.isoformat()
        raise TypeError(f"type {type(obj)} not serializable")
    with open(path, "w") as f:
        json.dump(metrics_dict, f, indent=2, default=default_serializer)  # write json
    return path

# load metrics from json
def load_metrics(run_date):
    run_date_str = run_date.isoformat() if isinstance(run_date, (date, datetime)) else str(run_date)
    path = f"outputs/metrics/metrics_{run_date_str}.json"
    with open(path) as f:
        return json.load(f)  # load json

# generate ai summary with safe handling
def generate_ai_summary(metrics_dict):
    metrics_json = json.dumps(metrics_dict, indent=2)
    prompt = f"""
you are a financial operations analyst.
analyze the metrics below and summarize performance, risks, and concerns.

metrics:
{metrics_json}
"""
    if not os.getenv("OPENAI_API_KEY"):
        return "openai api key not found, ai summary skipped"  # skip if api key missing

    try:
        response = openai.chat.completions.create(
            model=AI_MODEL,
            messages=[{"role": "user", "content": prompt}],
            max_tokens=500
        )
        return response.choices[0].message.content  # return ai summary
    except Exception as e:  # catch all exceptions (rate limit, quota, other errors)
        return f"ai summary could not be generated: {str(e)}"  # fallback text

# write ai summary to google sheets
def write_summary_to_gsheet(summary_text, run_date):
    workbook = authenticate_gsheets()  # connect to google sheets
    try:
        worksheet = workbook.worksheet(GSHEET_TAB_NAME)
    except gspread.WorksheetNotFound:
        worksheet = workbook.add_worksheet(title=GSHEET_TAB_NAME, rows="100", cols="20")  # create sheet if missing
    run_date_str = run_date.isoformat() if isinstance(run_date, (date, datetime)) else str(run_date)
    worksheet.append_row([run_date_str, summary_text[:5000]])  # append summary

# main workflow
def main(run_date, metrics):
    metrics_path = save_metrics(metrics, run_date)  # save metrics
    print(f"metrics saved at {metrics_path}")
    metrics_dict = load_metrics(run_date)  # load metrics
    print("metrics loaded successfully")
    summary = generate_ai_summary(metrics_dict)  # generate ai summary
    print("ai summary generated:")
    print(summary)
    write_summary_to_gsheet(summary, run_date)  # write summary to google sheets
    print(f"ai summary written to google sheet tab '{GSHEET_TAB_NAME}'")

# execute daily run
if __name__ == "__main__":
    today = run_date  # use current run_date
    main(today, metrics)

metrics saved at outputs/metrics/metrics_2026-02-05.json
metrics loaded successfully
ai summary generated:
Based on the data as of February 5, 2026, the metrics reveal that the business is experiencing a number of financial trends.

Revenue-wise, the total inflow stands at $46,002.00. This income is generated from three channels: NIBSS, INTERSWITCH and PARALLEX. Among the three, INTERSWITCH brings in the highest revenue at $39,425.77, followed by NIBSS at $5,338.93 and PARALLEX at a considerably smaller amount of $1,237.30.

The total settlement amounts to $12,875,390.8. INTERSWITCH carries the majority of this value with $10,749,300.83, NIBSS accounts for $1,721,289.97 and PARALLEX contributes the least with $404,800.00.

In terms of charge backs, the company had a total of $32,150.03, primarily driven by INTERSWITCH and NIBSS with $15,000.03 and $16,650.00 respectively, with much less coming from PARALLEX at $500.00.

Surprisingly, total unsettled claims for the company are at zero, but ISW Bank has an unmatched claim of $15,000.03. These figures can affect the absolute profit margin critically.

Risks:
There is a concentration risk associated with the disproportionately high revenue and settlement share of INTERSWITCH. Any downturn or disruption associated with this channel can have a significant impact on the overall business.

Concerns:
The fact that ISW Bank has an unsettled claim raises some concerns, given its potential to impact financial stability. While charge backs, in general, indicate a level of customer dissatisfaction or fraud incidents which could harm the company's reputation. The relatively high share of charge backs might warrant an examination of payment systems and customer service quality.
ai summary written to google sheet tab 'AI Summary'

In [140]:
metrics_json

'{\n  "run_date": "2026-02-05",\n  "total_revenue": 46002.0,\n  "total_settlement": 12875390.8,\n  "total_settlement_charge_back": 32150.03,\n  "total_settlement_unsettled_claims": 0.0,\n  "total_bank_isw_unsettled_claims": 0.0,\n  "total_bank_isw_charge_back": 15000.03,\n  "channels": {\n    "NIBSS": {\n      "revenue": 5338.93,\n      "settlement": 1721289.97,\n      "charge_back": 16650.0,\n      "unsettled_claim": 0.0\n    },\n    "INTERSWITCH": {\n      "revenue": 39425.77,\n      "settlement": 10749300.83,\n      "charge_back": 15000.03,\n      "unsettled_claim": 0.0\n    },\n    "PARALLEX": {\n      "revenue": 1237.3,\n      "settlement": 404800.0,\n      "charge_back": 500.0,\n      "unsettled_claim": 0.0\n    },\n    "ISW Bank": {\n      "charge_back": 0.0,\n      "unsettled_claim": 15000.03\n    }\n  }\n}'

# Automate summaries

In [142]:
# Join tables
nibss_parallex = pd.concat([nibss_parallex_df, parallex_nibss_df], axis=1)
nibss_unity = pd.concat([nibss_unity_df, nibss_unity_settlement], axis=1)
isw_unity = pd.concat([interswitch_unity_df, unity_isw_agg], axis=1)
nibss_reconciliation = pd.concat([unsettled_claim, charge_back], axis=1)
isw_reconciliation = pd.concat([isw_unsettled_claim, isw_charge_back], axis=1)
parallex_reconciliation = pd.concat([parallex_unsettled_claim, parallex_charge_back], axis=1)
isw_bank_reconcialiation = pd.concat([isw_b_unsettled_claim, isw_b_charge_back], axis=1)

# Set run_date and make it the first column for all datasets
datasets = [
    paybox_trans_df, nibss_parallex, nibss_unity, nibss_reconciliation,
    isw_reconciliation, parallex_reconciliation, isw_bank_reconcialiation,
    nerf_nibss_b_credit, being_nibss_summary, cb, tof_df, ds
]

for df in datasets:
    df.insert(0, "run_date", run_date)  # insert at index 0
isw_bank_reconcialiation

,run_date,date_created,reference_number,stan,amount,merchant_id,terminal_id,pan_number,Date,Transaction Narration,Reference,Value Date,Debit,Credit,Balance,rrn,t_date
695,2026-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/20/2026,2LBPB675 - 164937 - 519911******1823 - 1617703...,1080055387745,2/20/2026,-,15000.03,13263953.23,161770306559,2026-02-05

In [416]:
# Google Sheets config
SERVICE_ACCOUNT_FILE = "streamlit-analytics-488117-db0b145f8c2a.json"
SPREADSHEET_ID = "1La0dpzzo2yZQTOe3DJk11uapbgF4kk2fqQ6fblck8TI"

SCOPES = [
    "https://www.googleapis.com/auth/spreadsheets",
    "https://www.googleapis.com/auth/drive"
]

# Authenticate
def authenticate_gsheets():
    creds = Credentials.from_service_account_file(
        SERVICE_ACCOUNT_FILE,
        scopes=SCOPES
    )
    client = gspread.authorize(creds)
    return client.open_by_key(SPREADSHEET_ID)

# Ensure worksheet exists
def get_or_create_worksheet(spreadsheet, sheet_name, rows=1000, cols=50):
    try:
        return spreadsheet.worksheet(sheet_name)
    except gspread.exceptions.WorksheetNotFound:
        return spreadsheet.add_worksheet(
            title=sheet_name,
            rows=rows,
            cols=cols
        )

# Append DataFrame safely
def append_df_to_gsheet(worksheet, df):
    """
    Appends DataFrame rows to a Google Sheet.
    Writes header only if the sheet is empty.
    """

    if df.empty:
        print(f"âš ï¸ Skipping empty DataFrame for sheet: {worksheet.title}")
        return

    # ðŸ”¥ normalize dates & NaNs
    df = normalize_df_for_gsheets(df)

    values = df.values.tolist()
    existing_rows = len(worksheet.get_all_values())

    if existing_rows == 0:
        data = [df.columns.tolist()] + values
        worksheet.append_rows(data, value_input_option="USER_ENTERED")
        print(f"âœ… Created sheet & wrote header: {worksheet.title}")
    else:
        worksheet.append_rows(values, value_input_option="USER_ENTERED")
        print(f"âž• Appended rows to: {worksheet.title}")

def normalize_df_for_gsheets(df):
    """
    Converts date/datetime columns to string
    and replaces NaN with empty strings.
    """
    df = df.copy()

    for col in df.columns:
        if pd.api.types.is_datetime64_any_dtype(df[col]):
            df[col] = df[col].dt.strftime("%Y-%m-%d %H:%M:%S")

        elif df[col].apply(lambda x: isinstance(x, (pd.Timestamp,))).any():
            df[col] = df[col].astype(str)

        elif df[col].apply(lambda x: hasattr(x, "isoformat")).any():
            df[col] = df[col].astype(str)

    return df.fillna("")

# MAIN
if __name__ == "__main__":

    # run date (same for all tables)
    run_date = run_date

    # Join tables (your existing logic)
    nibss_parallex = pd.concat([nibss_parallex_df, parallex_nibss_df], axis=1)
    nibss_unity = pd.concat([nibss_unity_df, nibss_unity_settlement], axis=1)
    isw_unity = pd.concat([interswitch_unity_df, unity_isw_agg], axis=1)
    nibss_reconciliation = pd.concat([unsettled_claim, charge_back], axis=1)
    isw_reconciliation = pd.concat([isw_unsettled_claim, isw_charge_back], axis=1)
    parallex_reconciliation = pd.concat([parallex_unsettled_claim, parallex_charge_back], axis=1)
    isw_bank_reconcialiation = pd.concat([isw_b_unsettled_claim, isw_b_charge_back], axis=1)

    # All datasets
    datasets = {
        "paybox_trans_df": paybox_trans_df,
        "nibss_parallex": nibss_parallex,
        "nibss_unity": nibss_unity,
        "nibss_reconciliation": nibss_reconciliation,
        "isw_reconciliation": isw_reconciliation,
        "parallex_reconciliation": parallex_reconciliation,
        "isw_bank_reconcialiation": isw_bank_reconcialiation,
        "nerf_nibss_b_credit": nerf_nibss_b_credit,
        "being_nibss_summary": being_nibss_summary,
        "cb": cb,
        "tof_df": tof_df,
        "ds": ds
    }

    # Insert run_date as first column
    for df in datasets.values():
        if "run_date" not in df.columns:
            df.insert(0, "run_date", run_date)

    # Connect to Google Sheets
    spreadsheet = authenticate_gsheets()

    # Push everything
    for sheet_name, df in datasets.items():
        worksheet = get_or_create_worksheet(spreadsheet, sheet_name)
        append_df_to_gsheet(worksheet, df)

    print("\nðŸš€ All datasets pushed successfully.")

âž• Appended rows to: paybox_trans_df
âž• Appended rows to: nibss_parallex
âž• Appended rows to: nibss_unity
âž• Appended rows to: nibss_reconciliation
âž• Appended rows to: isw_reconciliation
âž• Appended rows to: parallex_reconciliation
âž• Appended rows to: isw_bank_reconcialiation
âž• Appended rows to: nerf_nibss_b_credit
âž• Appended rows to: being_nibss_summary
âž• Appended rows to: cb
âž• Appended rows to: tof_df
âž• Appended rows to: ds

ðŸš€ All datasets pushed successfully.